button,
input[type="submit"],
input[type="button"]{
    @extend %button;
    &.btn{
        &--secondary {
            @include button( color(secondary, 500) );
        }
        &--complementary {
            @include button( color(complementary, 700) );
        }
        &--ghost {     
            @include button ( transparent, color(grayscale,white), color(secondary, 500), 0.1rem);
        }
        &--outline {
            @include button( color(grayscale,white), color(primary, 500), color(primary, 500), 0.1rem);
            &-secondary {
                @include button( color(grayscale,white), color(secondary, 500), color(secondary, 500), 0.1rem );
            }
            &-complementary {
                @include button( color(grayscale,white), color(complementary, 700), color(complementary, 700), 0.1rem );
            }
        }
        &__tab{
            @include button( color(primary, 500), color(grayscale, white), transparent, 0, 0 );
            margin: 0rem;
            outline: none;
            padding: 1.4rem 1.6rem;
            transition: 0.3s;
            &.active {
                background-color: color(primary, 900);
                border: none;
            }
        }
    }
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;
    padding-bottom: 3.6rem;
    a{
        align-items: center;
        border: solid 0.1rem #FF742B;
        border-radius: 0.8rem;
        color: #FF742B;
        display: flex;
        font-size: 1.4rem;
        font-weight: 600;
        justify-content: center;
        padding: 0.4rem 1.6rem;
        text-align: center;
        width: fit-content;
    }
    a:after{
        content: "»";
        font-size: 2rem;
        margin:0 0 0.2rem 0.5rem;
    }
    a:hover{
        background-color: #FF742B;
        border: none;
        color: #FFFFFF;
    }
}