button,
input[type="submit"],
input[type="button"]{
    @extend %button;
    &.btn{
        &--secondary {
            @include button( color(secondary, 500) );
        }
        &--complementary {
            @include button( color(complementary, 700) );
        }
        &--ghost {     
            @include button ( transparent, color(grayscale,white), color(secondary, 500), 0.1rem);
        }
        &--outline {
            @include button( color(grayscale,white), color(primary, 500), color(primary, 500), 0.1rem);
            &-secondary {
                @include button( color(grayscale,white), color(secondary, 500), color(secondary, 500), 0.1rem );
            }
            &-complementary {
                @include button( color(grayscale,white), color(complementary, 700), color(complementary, 700), 0.1rem );
            }
        }
        &__tab{
            @include button( color(primary, 500), color(grayscale, white), transparent, 0, 0 );
            margin: 0rem;
            outline: none;
            padding: 14px 16px;
            transition: 0.3s;
            &.active {
                background-color: color(primary, 900);
                border: none;
            }
        }
    }
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-bottom: 36px;
    a{
        align-items: center;
        border: solid 1px #EF0000;
        border-radius: 8px;
        color: #EF0000;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        height: 34px;
        justify-content: center;
        text-align: center;
        width: 166px;
    }
    a:after{
        content: "»";
        margin-left: 5px;
    }
}