p{
    color: #20334E;
    @include text(14px, 22px, 400);
    text-align: left
}
@include mq-min(md){
    p{   
        @include text(16px, 24px, 400); 
    }
}

.tag{
    background-color: #FF9D00;
    border-radius: 4px;
    color: white;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    padding: 4px 9px;
    text-align: center;
    width: fit-content;
}

.taghead{
    align-items: center;
    border: 1px solid #FF742B;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    left: 8px;
    padding: 3px 16px;
    position: absolute;
    top: -20px;
    width: fit-content;
    h2{
        span{
            color: #FF742B;
        }
    }
}
.taghead::before{
    background-color: #FF742B;
    content: "";
    height: 1px;
    left: -9px;
    position: absolute;
    top: 16px;
    width: 8px;
}
@include mq-min(md){
    .taghead{
        left: 46px;
        padding: 3px 24px;
        h2{
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
        }
    }
    .taghead::before{
        left: -47px;
        top: 19px;
        width: 46px;
    }
}
@include mq-min(xl){
    .taghead{
        left: 48px;
    }
    .taghead::before{
        left: -49px;
        width: 48px;
    }
}
.tagdate{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.date{
    font-size: 11px;
    font-weight: 400;
    margin-left: 0.7rem;
}