.bussiness{
    margin-top: 40px;
    padding: 40px 0;
    position: relative;
    &__taghead{
        border-color: #98B438;
        left: 16px;
        h2{
            color: #20334E;
            font-size: 20px;
            span{
                color: #98B438;
            }
        }
    }
    &__taghead::before{
        background-color: #98B438;
        left: -17px;
        width: 16px;
    }
    &__slider{
        margin: 0 45px 10px;
        &--item{
            background-color: #F4F4F4;
            border-radius: 4px;
            height: 100px;
            margin-top: 40px;
            position: relative;
            picture{
                img{
                    left: 50%;
                    position: absolute;
                    top: 0%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                }
            }
            h3{
                color: #20334E;
                font-size: 14px;
                font-weight: 700;
                line-height: 22px;
                margin: 40px 52px 8px 52px;
                text-align: center;
            }
            p{
                font-size: 12px;
                font-weight: 400;
                text-align: center;
                line-height: 17px;
            }
        }
    }
    .slick-dots{
        bottom: -40px;
        li{
            margin: 0 1px;
            button::before{
                color: #939EAD;
                font-size: 8px;
                opacity: 1;
            }
        }
        .slick-active{
            button::before{
                color: #98B438;
                font-size: 14px;
            }
        }
    }
}