.cityguide{
    background-color: #F4F4F4;
    margin-bottom: 80px;
    position: relative;
    &__image{
        position: relative;
            img{
                height: auto;
                width: 100%;
            }
    }
    &__image::before{   
        //background: url(./../image/cityguide-mobile-background.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 106px;
        left: 0px;
        position: absolute;
        top: 38px;
        width: 100%;
        z-index: 1;
    }
    h2{
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.06rem;
        line-height: 32px;
        margin-top: -16px;
        position: relative;
        text-align: center;
        z-index: 2;
        span{
            color: #FF742B;
        }
    }
    &__itemcont{
        margin-top: -2px;
    }
    &__item{
        border-bottom: 1px solid #94949466;
        padding: 12px 28px;
        position: relative;
        &--tag{
           background-color: #609FEE ;
           font-family: 'Poppins';
        }
        &--info{
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 0.1rem;
            line-height: 32px;
            margin: 10px 0 0.5rem;
            text-align: left;
            position: relative;
        }
        &--info::before{
            color: #20334E;
            font-family: "iconFont";
            left: 0;
            position: absolute;
        }
        &--plus{
            font-family: 'Poppins';
            align-items: center;
            display: flex;
            flex-direction: row;
            p{
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                padding-left: 3.2rem;
                position: relative;
            }
            p:before{
                color: #20334E;
                font-family: "iconFont";
                left: 0;
                position: absolute;
            }
            p:first-child::before{
                content: "\e907";
                font-size: 22px;
            }
            p:first-child::after{
                content: "|";
                font-size: 13px;
                padding-left: 4px;
            }
            p:nth-child(2){
                margin-left: 8px;
            }
            p:nth-child(2):before{
                content: "\e906";
                font-size: 17px;
            }
        }
    }
    &__item:nth-child(2){
        display: none;
        p:nth-child(2){
            padding-left: 30px;
        }
        p:nth-child(2):before{
            content: "\e90b";
            font-size: 28px;
            font-weight: 500;
        }
        div{
            p{
                padding-left: 0;
            }
            p:before{
                display: none;
            }
        }
    }
    &__item:nth-child(3){
        p:nth-child(2){
            padding-left: 45px;
        }
        p:nth-child(2):before{
            content: "\e908";
            font-size: 40px;
            font-weight: 500;
        }
        div{
            p{
                padding-left: 0;
            }
            p:before{
                display: none;
            }
        }
    }
    &__item:nth-child(4){
        p:nth-child(2){
            font-size: 14px;
            letter-spacing: 0.03rem;
            margin: 2rem 0 1.8rem;
            padding-left: 58px;
        }
        p:nth-child(2):before{
            content: "\e909";
            font-size: 38px;
            font-weight: 500;
            left: 2px;
            top: 0;
        }
    }
    &__item:nth-child(5){
        p:nth-child(2){
            font-size: 14px;
            letter-spacing: 0.05rem;
            line-height: 22px;
            padding-left: 58px;
            width: 80%;
        }
        p:nth-child(2):before{
            content: "\e90a";
            font-size: 35px;
            font-weight: 500;
            left: 5px;
            top: 12px;
        }
    }
    &__slidcontain{
        padding: 13px 7px 13px 15px;
    }
    &__slider{
        &--item{
            align-items: center;
            display: flex;
            flex-direction: row;
            padding: 22px 12px 22px 0;
        }
        &--date{
            margin-right: 10px;
            p:first-child{
                font-size: 32px;
                font-weight: 700;
                line-height: 40px;
            }
            p:nth-child(2){
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
            }
        }
        &--info{
            width: 580px;
            p{
                font-family: 'Poppins';
                font-size: 11px;
                font-weight: 400;
                line-height: 14px;
                text-align: left;
                width: 140px;
            }
            p:first-child{
                font-family: $font-primary;
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
                text-align: left;
                width: 150px;
            }
            p:nth-child(2){
                margin-top: 6px;
            }
        }
        &--image{
            margin:0 20px 0 10px;
            height: auto;
            width: 100%;
        }
        .slick-dots{
                bottom: -5px;
                z-index: 2;
            li{
                margin: 0 -1px;
                button{
                    color: #939EAD;
                }
                button::before{
                    color: #939EAD;
                    font-size: 8px;
                    opacity: 1;
                }
            }
            .slick-active{
                button::before{
                    color: #20334E;
                    font-size: 12px;
                }
            }
        }
    }
    &__button{
        margin-top: -20px;
        position: relative;
        z-index: 2;
        padding-bottom: 8px;
        a{
            background-color: #FFFFFF;
            padding: 0 1.8rem;
        }
        a::after{
            margin: 0 0 0.2rem 1.7rem;
        }
    }
}
.cityguide::before{
    background: url(./../image/cityguide-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 200px;
    left: 0px;
    position: absolute;
    bottom: -152px;
    width: 100%;
    z-index: 1;
}
@include mq-min(sm){
    .cityguide{
        &__image::before{ 
            top: 62px;
        }
        h2{
            margin-top: -32px;
        }
    }
    .cityguide::before{
        height: 230px;
        bottom: -135px;
    }
}
@include mq-min(md){
    .cityguide{
        &__image{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        &__image::before{
            display: none;
        }
        h2{
            font-size: 32px;
            line-height: 40px;
            margin: 15px 18px 0 30px;
            width: 800px;
        }
        &__itemcont{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 9px;
            padding: 0 10px;
            width: 100%;
        }
        &__item{
            padding: 11px 17px 17px;
            &--tag{
               font-weight: 500;
               padding: 3px 9px;
            }
            &--info{
                margin: 9px 0 1rem;
            }
            &--plus{
                width: 220px;
                p{
                    align-items: center;
                    font-size: 11px;
                    font-weight: 600;
                    margin-top: -12px;
                    padding-left: 1.2rem;
                }
                p:first-child::before{
                    font-size: 12px;
                    font-weight: 400;
                    margin-right: 4px;
                }p:first-child::after{
                    font-size: 11px;
                    padding-left: 8px;
                }
                p:nth-child(2){
                    margin-left: 2px;
                }
                p:nth-child(2):before{
                    font-size: 8px;
                    font-weight: 400;
                    margin: 0 1px;
                }
            }
        }
        &__item:first-child{
            width: 33%;
        }
        &__item:first-child:before{
            background-color: #F4F4F4;
            content: "";
            height: 10px;
            left: 0;
            position: absolute;
            bottom: -1px;
            width: 14px;
        }
        &__item:first-child:after{
            color: #81A1C9;
            content: "■";
            font-size: 10px;
            left: 10px;
            position: absolute;
            transform: rotate(45deg);
            bottom: -7px;
        }
        &__item:nth-child(2){
            border-left: 1px solid #94949466;
            display: block;
            width: 30%;
            p:nth-child(2){
                padding-left: 40px;
            }
            p:nth-child(2)::before{
                margin-left: 7px;
            }
            div{
                p{
                    margin: -14px 0 0 35px;
                }
            }
        }
        &__item:nth-child(3):before{
            background-color: #F4F4F4;
            content: "";
            height: 10px;
            right: 0;
            position: absolute;
            bottom: -1px;
            width: 14px;
        }
        &__item:nth-child(3):after{
            color: #81A1C9;
            content: "■";
            font-size: 10px;
            right: 10px;
            position: absolute;
            transform: rotate(45deg);
            bottom: -7px;
        }
        &__item:nth-child(3){
            border-left: 1px solid #94949466;
            width: 36%;
            p:nth-child(2){
                padding-left: 40px;
            }
            p:nth-child(2):before{
                font-size: 33px;
                margin-left: 2px;
            }
            div{
                p{
                    margin: -14px 0 0 36px;
                }
            }
        }
        &__item:nth-child(4){
            border-right: 1px solid #94949466;
            padding: 13px 16px 10px 54px;
            width: 36%;
            p:nth-child(2){
                font-size: 12px;
                line-height: 15px;
                margin: 8px 0 0 40px;
                padding: 10px 0;
            }
            p:nth-child(2):before{
                font-size: 24px;
                left: -38px;
                top: 16px;
            }
        }
        &__item:nth-child(4)::before{
            color: #81A1C9;
            content: "■";
            font-size: 10px;
            left: 0;
            position: absolute;
            transform: rotate(45deg);
            bottom: -7px;
        }
        &__item:nth-child(5){
            padding: 14px 20px 32px;
            width: 36%;
            p:nth-child(2){
                font-size: 12px;
                line-height: 15px;
                margin: 16px 0 0 40px;
                padding-left: 0;
            }
            p:nth-child(2):before{
                font-size: 22px;
                left: -35px;
                top: 8px;
            }
        }
        &__item:nth-child(5)::before{
            color: #81A1C9;
            content: "■";
            font-size: 10px;
            right: 0;
            position: absolute;
            transform: rotate(45deg);
            bottom: -7px;
        }
        &__slidcontain{
            padding: 38px 0 20px 40px;
        }
        &__slider{
            &--item{
                padding: 22px 12px 22px 0;
            }
            &--date{
                margin-right: 26px;
                p:first-child{
                    font-size: 48px;
                    line-height: 60px;
                }
                p:nth-child(2){
                    font-size: 20px;
                    line-height: 26px;
                    text-align: center;
                }
            }
            &--info{
                width: 800px;
                p{
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 18px;
                }
                p:first-child{
                    color: #609FEE;
                    font-size: 20px;
                    line-height: 26px;
                    text-align: left;
                }
            }
            &--image{
                margin: 0 30px 0 0px;
                img{
                    height: auto;
                    object-fit: cover;
                    width: 116px;
                }
            }
            .slick-dots{
                    bottom: -15px;
                li{
                    margin: 0 1px;
                    button{
                        color: #939EAD;
                    }
                    button::before{
                        color: #939EAD;
                        font-size: 10px;
                    }
                }
                .slick-active{
                    button::before{
                        color: #FF9D00;
                        font-size: 14px;
                    }
                }
            }
        }
        &__button{
            margin-top: 40px;
            a{
                font-size: 16px;
                line-height: 22px;
                padding: 8px 16px;
                width: fit-content;
            }
            a::after{
                font-size: 26px;
                font-weight: 300;
            }
        }
    }
    .cityguide::before{
        height: 321px;
        bottom: -196px;
    }
}
@include mq-min(xl){
    .cityguide{
        position: relative;
        &__image{
            &--mobile{
                display: none;
            }
            &--tablet{
                display: none;
            }
            &--desktop{
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                width: 37%;
                img{
                    height: auto;
                    width: 100%;
                }
            }
        }
        h2{
            font-size: 36px;
            left: 0;
            line-height: 45px;
            margin: 0 0 24px 55px;
            position: absolute;
            top: 30px;
            width: auto;
        }
        &__itemcont{
            margin: 8% 0 0 35px;
            width: 60%;
        }
        &__item{
            padding: 13px 5px 13px 17px;
            &--plus{
                margin-top: -10px;
                width: auto;
            }
        }
        &__item:nth-child(4){
            width: 40%;
        }
        &__item:nth-child(5){
            width: 40%;
        }
        &__slidcontain{
            padding: 60px 0 0;
            margin: 0 auto;
            width: 93%;
        }
        &__slider{
            padding: 0 0;
            width: 88%;
            margin: 0 auto;
            .slick-dots{
                    bottom: -28px;
            }
            .slick-arrow{
                top: 45%;
            }
            .slick-arrow::before{
                background-color: #20334E;
                border-radius: 100%;
                color: #FFFFFF;
                font-family: 'iconFont';
                font-size: 28px;
                opacity: 1;
            }
            .slick-prev{
                left: -70px;
            }
            .slick-prev::before {
                content: "\e90e";
                padding: 6px 12px 6px 10px;
            }
            .slick-next{
                right: -20px;
            }
            .slick-next::before{
                content: "\e90f";
                padding: 6px 10px 6px 12px;
            }
        }
    }
    .cityguide::before{
        background: url(./../image/cityguide-background-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 200px;
        left: 0px;
        position: absolute;
        bottom: -160px;
        width: 100%;
        z-index: 1;
    }
}
@include mq-min(xb){
    .cityguide{
        .slick-prev{
            left: -80px;
        }
        .slick-next{
            right: -60px;
        }
    }
    .cityguide::before{
        bottom: -148px;
    }
}   
@include mq-min(xxl){
    .cityguide{
        &__slidcontain{
            padding-top: 150px;
        }
    }
   .cityguide::before{
    bottom: -125px;
    }
}