.cityguide{
    background-color: #F4F4F4;
    margin-bottom: 8rem;
    position: relative;
    &__img{
        position: relative;
            img{
                height: auto;
                width: 100%;
            }
    }
    &__image::before{   
        background: url(./../image/cityguide-mobile-background.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 10.6rem;
        left: 0;
        position: absolute;
        top: 3.8rem;
        width: 100%;
        z-index: 1;
    }
    .heading__two{
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: 0.06rem;
        line-height: 3.2rem;
        margin-top: -1.6rem;
        position: relative;
        text-align: center;
        z-index: 2;
        span{
            color: #FF742B;
        }
    }
    &__itemcont{
        margin-top: -0.2rem;
    }
    &__item{
        border-bottom: 0.1rem solid #94949466;
        padding: 1.2rem 2.8rem 1rem;
        position: relative;
        &--tag{
           background-color: #609FEE ;
        }
        &--info{
            font-size: 2.4rem;
            font-weight: 700;
            letter-spacing: 0.1rem;
            line-height: 3.2rem;
            margin: 10px 0 0.5rem;
            text-align: left;
            position: relative;
        }
        &--info::before{
            color: #20334E;
            font-family: "iconFont";
            left: 0;
            position: absolute;
        }
        &--plus{
            font-family: $font-secondary;
            align-items: center;
            display: flex;
            flex-direction: row;
            p{
                align-items: center;
                font-size: 1.4rem;
                font-weight: 500;
                padding-left: 3.2rem;
                position: relative;
            }
            p:before{
                color: #20334E;
                font-family: "iconFont";
                left: 0;
                position: absolute;
            }
            p:first-child::before{
                content: "\e907";
                font-size: 2.2rem;
            }
            p:first-child::after{
                content: "|";
                font-size: 1.3rem;
                padding-left: 0.4rem;
            }
            p:nth-child(2){
                margin-left: 0.4rem;
            }
            p:nth-child(2):before{
                content: "\e906";
                font-size: 1.7rem;
                left: 0.4rem;
            }
        }
    }
    &__item:nth-child(2){
        display: none;
        p:nth-child(2){
            padding-left: 3rem;
        }
        p:nth-child(2):before{
            content: "\e90b";
            font-size: 2.8rem;
            font-weight: 500;
        }
        div{
            p{
                padding-left: 0;
            }
            p:before{
                display: none;
            }
        }
    }
    &__item:nth-child(3){
        padding: 1rem 2.8rem 0.8rem;
        p:nth-child(2){
            margin-top: 1.2rem;
            padding-left: 4.5rem;
        }
        p:nth-child(2):before{
            content: "\e908";
            font-size: 4rem;
            font-weight: 500;
            top: 0.1rem;
        }
        div{
            p{
                margin-top: 0.5rem;
                padding-left: 0;
            }
            p:before{
                display: none;
            }
        }
    }
    &__item:nth-child(4){
        p:nth-child(2){
            font-size: 1.4rem;
            letter-spacing: 0.03rem;
            margin: 2.2rem 0 1.8rem;
            padding-left: 5.8rem;
        }
        p:nth-child(2):before{
            content: "\e909";
            font-size: 3.8rem;
            font-weight: 500;
            left: 0.2rem;
            top: 0;
        }
    }
    &__item:nth-child(5){
        p:nth-child(2){
            font-size: 1.4rem;
            letter-spacing: 0.05rem;
            line-height: 2.2rem;
            padding-left: 5.8rem;
            width: 80%;
        }
        p:nth-child(2):before{
            content: "\e90a";
            font-size: 3.5rem;
            font-weight: 500;
            left: 0.5rem;
            top: 1.2rem;
        }
    }
    &__slidcontain{
        padding: 1.3rem 0.7rem 1.3rem 1.5rem;
    }
    &__slider{
        &--item{
            align-items: center;
            display: flex;
            flex-direction: row;
            padding: 2.2rem 1.2rem 2.2rem 0;
        }
        &--date{
            margin-right: 1rem;
            p:first-child{
                font-size: 3.2rem;
                font-weight: 700;
                line-height: 4rem;
            }
            p:nth-child(2){
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 2.2rem;
            }
        }
        &--info{
            width: 58rem;
            p{
                font-family: $font-secondary;
                font-size: 1.1rem;
                font-weight: 400;
                line-height: 1.4rem;
                text-align: left;
                width: 14rem;
            }
            p:first-child{
                font-family: $font-primary;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 2.2rem;
                text-align: left;
                width: 15rem;
            }
            p:nth-child(2){
                margin-top: 0.6rem;
            }
        }
        &--image{
            margin:0 2rem 0 1rem;
            height: auto;
            width: 100%;
        }
        .slick-dots{
                bottom: -0.5rem;
                z-index: 2;
            li{
                margin: 0 -0.1rem;
                button{
                    color: #939EAD;
                }
                button::before{
                    color: #939EAD;
                    font-size: 0.8rem;
                    opacity: 1;
                }
            }
            .slick-active{
                button::before{
                    color: #20334E;
                    font-size: 1.2rem;
                }
            }
        }
    }
    &__button{
        margin-top: -2rem;
        position: relative;
        z-index: 2;
        padding-bottom: 0.8rem;
        a{
            background-color: #FFFFFF;
            padding: 0 1.8rem;
        }
        a::after{
            margin: 0 0 0.2rem 1.7rem;
        }
    }
}
.cityguide::before{
    background: url(./../image/cityguide-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 20rem;
    left: 0px;
    position: absolute;
    bottom: -15.2rem;
    width: 100%;
    z-index: 1;
}
@include mq-min(sm){
    .cityguide{
        &__image::before{ 
            top: 6.2rem;
        }
        .heading__two{
            margin-top: -3.2rem;
        }
    }
    .cityguide::before{
        height: 23rem;
        bottom: -13.5px;
    }
}
@include mq-min(md){
    .cityguide{
        padding-top: 1.4rem;
        &__image{
            position: absolute;
            right: 0;
            top: 0;
            width: 58%;
        }
        &__image::before{
            display: none;
        }
        .heading__two{
            font-size: 3.2rem;
            line-height: 4rem;
            margin: 0 1.8rem 0 3.2rem;
            text-align: left;
        }
        &__itemcont{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 2.7rem;
            padding: 0 1rem;
            width: 100%;
        }
        &__item{
            padding: 1.1rem 1.7rem 1.7rem;
            &--tag{
               font-weight: 500;
               padding: 0.3rem 0.9rem;
            }
            &--info{
                margin: 0.9rem 0 1rem;
            }
            &--plus{
                width: 22rem;
                p{
                    align-items: center;
                    font-size: 1.1rem;
                    font-weight: 600;
                    margin-top: -1.2rem;
                    padding-left: 1.2rem;
                }
                p:first-child::before{
                    font-size: 1.2rem;
                    font-weight: 400;
                    margin-right: 0.4rem;
                }p:first-child::after{
                    font-size: 1.1rem;
                    padding-left: 0.8rem;
                }
                p:nth-child(2){
                    margin-left: 0.2rem;
                }
                p:nth-child(2):before{
                    font-size: 0.8rem;
                    font-weight: 400;
                    margin: 0 0.1rem;
                }
            }
        }
        &__item:first-child{
            width: 33%;
        }
        &__item:first-child:before{
            background-color: #F4F4F4;
            content: "";
            height: 1rem;
            left: 0;
            position: absolute;
            bottom: -0.1rem;
            width: 1.4rem;
        }
        &__item:first-child:after{
            color: #81A1C9;
            content: "■";
            font-size: 1rem;
            left: 1rem;
            position: absolute;
            transform: rotate(45deg);
            bottom: -0.7rem;
        }
        &__item:nth-child(2){
            border-left: 0.1rem solid #94949466;
            display: block;
            width: 30%;
            p:nth-child(2){
                padding-left: 4rem;
            }
            p:nth-child(2)::before{
                margin-left: 0.7rem;
            }
            div{
                p{
                    margin: -1.4rem 0 0 3.5rem;
                }
            }
        }
        &__item:nth-child(3):before{
            background-color: #F4F4F4;
            content: "";
            height: 1rem;
            right: 0;
            position: absolute;
            bottom: -0.1rem;
            width: 1.4rem;
        }
        &__item:nth-child(3):after{
            color: #81A1C9;
            content: "■";
            font-size: 1rem;
            right: 1rem;
            position: absolute;
            transform: rotate(45deg);
            bottom: -0.7rem;
        }
        &__item:nth-child(3){
            border-left: 0.1rem solid #94949466;
            width: 36%;
            p:nth-child(2){
                padding-left: 4rem;
            }
            p:nth-child(2):before{
                font-size: 3.3rem;
                margin-left: 0.2rem;
            }
            div{
                p{
                    margin: -1.4rem 0 0 3.6rem;
                }
            }
        }
        &__item:nth-child(4){
            border-right: 0.1rem solid #94949466;
            padding: 1.3rem 1.6rem 1rem 5.4rem;
            width: 36%;
            p:nth-child(2){
                font-size: 1.2rem;
                line-height: 1.5rem;
                margin: 0.8rem 0 0 4rem;
                padding: 1rem 0;
            }
            p:nth-child(2):before{
                font-size: 2.4rem;
                left: -3.8rem;
                top: 1.6rem;
            }
        }
        &__item:nth-child(4)::before{
            color: #81A1C9;
            content: "■";
            font-size: 1rem;
            left: 0;
            position: absolute;
            transform: rotate(45deg);
            bottom: -0.7rem;
        }
        &__item:nth-child(5){
            padding: 1.4rem 2rem 3.2rem;
            width: 36%;
            p:nth-child(2){
                font-size: 1.2rem;
                line-height: 1.5rem;
                margin: 1.6rem 0 0 4rem;
                padding-left: 0;
            }
            p:nth-child(2):before{
                font-size: 2.2rem;
                left: -3.5rem;
                top: 0.8rem;
            }
        }
        &__item:nth-child(5)::before{
            color: #81A1C9;
            content: "■";
            font-size: 1rem;
            right: 0;
            position: absolute;
            transform: rotate(45deg);
            bottom: -0.7rem;
        }
        &__slidcontain{
            padding: 3.4rem 0 2rem 3.8rem;
        }
        &__slider{
            &--item{
                padding: 1.6rem 1.2rem 2.2rem 0.9rem;
            }
            &--date{
                margin-right: 2.6rem;
                p:first-child{
                    font-size: 4.8rem;
                    line-height: 6rem;
                    margin-top: -1rem;
                }
                p:nth-child(2){
                    font-size: 2rem;
                    line-height: 2.6rem;
                    margin-top: -0.9rem;
                    text-align: center;
                }
            }
            &--info{
                margin: -1.2rem 0 0 -0.6rem;
                p{
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 1.8rem;
                    width: 18rem;
                }
                p:first-child{
                    color: #609FEE;
                    font-size: 2rem;
                    line-height: 2.6rem;
                    text-align: left;
                }
            }
            &--image{
                margin: -0.4rem 3rem 0 2.7rem;
                img{
                    height: auto;
                    object-fit: cover;
                    width: 11.6rem;
                }
            }
            .slick-dots{
                    bottom: -1.9rem;
                li{
                    margin: 0 0.1rem;
                    button{
                        color: #939EAD;
                    }
                    button::before{
                        color: #939EAD;
                        font-size: 1rem;
                    }
                }
                .slick-active{
                    button::before{
                        color: #FF9D00;
                        font-size: 1.4rem;
                    }
                }
            }
        }
        &__button{
            margin: -0.2rem 0 0 -0.2rem;
            a{
                font-size: 1.6rem;
                line-height: 2.2rem;
                padding: 0.6rem 1.7rem;
                width: fit-content;
            }
            a::after{
                font-size: 2.6rem;
                font-weight: 300;
            }
        }
    }
    .cityguide::before{
        height: 32.1rem;
        bottom: -21.2rem;
    }
}
@include mq-min(xl){
    .cityguide{
        margin-top: 2.5rem;
        padding-top: 3rem;
        &__image{
            width: 40%;
        }
        .heading__two{
            font-size: 3.6rem;
            line-height: 4.5rem;
            margin: 0 0 2.4rem 5.5rem;
            width: auto;
        }
        &__itemcont{
            margin: 1.1rem 0 0 1.5rem;
            width: 62%;
        }
        &__item{
            padding: 1.3rem 0.5rem 2.8rem 1.7rem;
        }
        &__item:first-child{
            width: 36%;
        }
        &__item:nth-child(3){
            width: 32%;
        }
        &__item:nth-child(4){
            padding: 3.5rem 1.6rem 1.2rem 6.4rem;
            width: 40%;
        }
        &__item:nth-child(5){
            padding: 3.5rem 1.6rem 1.2rem 3rem;
            width: 40%;
        }
        &__slidcontain{
            padding: 5.3rem 0 0 1.2rem;
            margin: 0 auto;
            width: 93%;
        }
        &__slider{
            padding: 0 0;
            width: 92%;
            margin: 0 auto;
            .slick-dots{
                    bottom: -1.2rem;
            }
            .slick-arrow{
                top: 42%;
            }
            .slick-arrow::before{
                background-color: #20334E;
                border-radius: 100%;
                color: #FFFFFF;
                font-family: 'iconFont';
                font-size: 2rem;
                opacity: 1;
            }
            .slick-prev{
                left: -6.8rem;
            }
            .slick-prev::before {
                content: "\e90e";
                padding: 0.6rem 1.2rem 0.6rem 1rem;
            }
            .slick-next{
                right: -4.2rem;
            }
            .slick-next::before{
                content: "\e90f";
                padding: 0.6rem 1rem 0.6 rem 1.2rem;
            }
        }
        &__button{
            margin: 3.5rem 0 0 1.4rem;
        }
    }
    .cityguide::before{
        background: url(./../image/cityguide-background-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 20rem;
        left: 0px;
        position: absolute;
        bottom: -16rem;
        width: 100%;
        z-index: 1;
    }
}
@include mq-min(xb){
    .cityguide{
        padding-top: 7rem;
        &__image{
            width: 43%;
        }
        &__itemcont{
            margin: 3.1rem 0 0 2.5rem;
            width: 56.7%;
        }
        &__item:first-child{
            width: 33%;
        }
        &__item:nth-child(3){
            width: 36%;
        }
        &__item:nth-child(4){
            width: 36%;
        }
        &__item:nth-child(5){
            width: 36%;
        }
    }
} 
@include mq-min(xxl){
    .cityguide{
        &__image{
            width: 40%;
        }
        &__itemcont{
            margin-top: 6rem;
        }
        &__slidcontain{
            margin-top: 8rem;
        }
    }
   .cityguide::before{
    bottom: -12.5rem;
    }
}