.footer{
    background-color: #30496C;
    border-bottom: solid 16px #81A1C9;
    padding: 20px 20px 0;
    position: relative;
    z-index: 2;
    &__logos{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.3rem;
        z-index: 2;
        &--icons{
            display: flex;
            flex-direction: row;
            list-style: none;
            margin-top: -0.3rem;
            .icon::before{
                border: none;
                background-color: transparent;
                color: #FFFFFF;
                font-size: 2.2rem;
                margin: 0 1.4rem 0 0.5rem;
            }
            .icon-Instagram::before{
                content: "\e903";
                font-size: 2rem;
            }
            .icon-Facebook::before{
                content: "\e902";
                font-size: 2.3rem;
            }
            .icon-Twitter::before{
                content: "\e901";
            }
            .icon-YouTube::before{
                content: "\e900";
            }
        }
    }
    &__menu{
        border-top: 0.5px dashed #EBEBEB;
        &--styles{
            position: relative;
            border-bottom: 0.5px dashed #EBEBEB;
            padding: 1.15rem 0;
            p{
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
            }
            p::after{
                content: "\e911";
                color: #fff;
                font-family: 'iconFont';
                font-size: 6px;
                position: absolute;
                right: 0;
                top: 12px;
            }
            ul{
                display: none;
            }
        }
    }
    &__button{
        margin-top: 2.8rem;
        text-align: center;
        .tag{
            background-color: #609FEE;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            padding: 8px 2.3rem;
        }
    }
    &__copyright{
        margin: 5.8rem 0 1.4rem;
        position: relative;
        p{
            color: #FFFFFF;
            font-size: 10px;
            font-weight: 400;
            line-height: 18px;
            text-align: center;
        }
        p:nth-child(2){
            margin-top: 20px;
        }
        &--report{
            bottom: 123px;
            color: transparent;
            margin-top: -30px;
            position: fixed;
            right: 2.5rem;
            z-index: 999;
        }
        &--report::before{
            background-color: #98B438;
            box-shadow: 0px 4px 4px rgba(32, 51, 78, 0.26);
            content: "\e910";
            font-size: 24px;
            height: 45px;
            padding: 0.3rem 0.8rem;
            position: absolute;
            right: -0.6rem;
            top: 2.9rem;
            width: 45px;
            z-index: 999;
        }
    }
}
.footer::before{
    background: url(./../image/footer-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 228px;
    left: 0px;
    position: absolute;
    top: -112px;
    width: 100%;
    z-index: -1;
}
@include mq-min(md){
    .footer{
        margin-top: 8rem;
        padding: 20px 34px 0;
        &__logos{
            flex-direction: row;
            justify-content: center;
            margin: -2.5rem 0 2.4rem;
            picture{
                margin-left: 1.4rem;
            }
            &--icons{
                margin: 0.7rem 0 0 3.3rem;
                .icon::before{
                    font-size: 32px;
                    font-weight: 200;
                    margin: 0 1.1rem 0 0.4rem
                }
            }
        }
        &__menu{
            border-top: none;
            display: flex;
            justify-content: space-between;
            &--styles{
                border-bottom: none;
                p{
                    margin-bottom: 10px;
                }
                p::after{
                    display: none;
                }
                ul{
                    display: block;
                    list-style: none;
                    margin-left: 0;
                    li{
                        padding-bottom: 0.6rem;
                        a{
                            color: #FFFFFF;
                            font-family: 'Poppins';
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 14px;
                        }
                    }
                }
            }
            &--content{
                display: none;
            }
        }
        &__menu div:nth-of-type(1){
            order: 1;
        }
        &__menu div:nth-of-type(2){
            order: 3;
        }
        &__menu div:nth-of-type(3){
            order: 2;
        }
        &__menu div:nth-of-type(4){
            order: 4;
        }
        &__button{
            margin: -4.5rem 0 9rem -50px;
            .tag{
                font-size: 16px;
                line-height: 22px;
                padding: 8px 15px;
            }
        }
        &__copyright{
            padding-top: 1.2rem;
            margin-bottom: 2.4rem;
            p{
                font-size: 11px;
                line-height: 14px;
            }
            p:nth-child(2){
                margin-top: 1.4rem;
            }
            &--report{
                background-color: #98B438;
                bottom: 12rem;
                color: #FFFFFF;
                font-family: 'Poppins';
                font-size: 14px;
                font-weight: 500;
                height: 5.6rem;
                line-height: 22px;
                padding: 6px 20px 6px 36px;
                right: 20px;
                width: 14.6rem;
            }
            &--report:before{
                font-size: 30px;
                height: 56px;
                padding: 1.4rem 1.1rem;
                right: 11.8rem;
                top: 0;
                width: 56px;
            }
        }
    }
    .footer::before{
        background: url(./../image/footer-background-tablet.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 254px;
        top: -130px;
    }
}
@include mq-min(lg){
    .footer::before{
        background: url(./../image/footer-background-tablet.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 290px;
        top: -152px;
    }
}
@include mq-min(xl){
    .footer{
        &__menu{
            &--content{
                display: block;
            }
        }
        &__button{
            margin: -74px 0 80px 202px;
        }
    }
    .footer::before{
        background: url(./../image/footer-background-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 290px;
        top: -120px;
    }
}

@include mq-min(xb){
    .footer{
        padding: 3.8rem 121px 0 13.3rem;
        position: relative;
        &__container{
            align-items: flex-start;
            display: flex;
            flex-direction: row;
        }
        &__logos{
            flex-direction: column;
            margin-top: -0.3rem;
            picture{
                margin-left: 29px;
                img{
                    height: auto;
                    width: 114px;
                }
            }
            &--icons{
                margin: 1.2rem 0 0 2.0rem;
                .icon::before{
                    font-size: 3rem;
                    margin: 0 1.1rem 0 0.6rem;
                }
            }
        }
        &__menu{
            margin-left: 1.1rem;
            width: 79%;
            &--styles{
                padding: 0;
            }
            &--services{
                margin-left: 1.2rem;
            }
        }
        &__button{
            margin: -5.3rem 0 80px 41.4rem;
        }
        &__copyright{
            margin-top: 9.4rem;
            p:nth-child(2){
                margin-top: 0px;
            }
            &--report{
                bottom: 7.3rem;
                right: 2.7rem;
            }
            &--report::before{
                right: 11.7rem;
                top: 0;
            }
        }
    }
}
@include mq-min(xxl){
    .footer::before{
        background: url(./../image/footer-background-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 300px;
        top: -166px;
    }
}