.footer{
    background-color: #30496C;
    border-bottom: solid 16px #81A1C9;
    padding: 20px 20px 0;
    position: relative;
    z-index: 2;
    &__logos{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.3rem;
        z-index: 2;
        &--icons{
            display: flex;
            flex-direction: row;
            list-style: none;
            margin-top: -0.3rem;
            .icon::before{
                border: none;
                background-color: transparent;
                color: #FFFFFF;
                font-size: 2.2rem;
                margin: 0 1.4rem 0 0.5rem;
            }
            .icon-Instagram::before{
                content: "\e903";
                font-size: 2rem;
            }
            .icon-Facebook::before{
                content: "\e902";
                font-size: 2.3rem;
            }
            .icon-Twitter::before{
                content: "\e901";
            }
            .icon-YouTube::before{
                content: "\e900";
            }
        }
    }
    &__menu{
        border-top: 0.5px dashed #EBEBEB;
        &--styles{
            position: relative;
            border-bottom: 0.5px dashed #EBEBEB;
            padding: 1.15rem 0;
            p{
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
            }
            p::after{
                content: "\e911";
                color: #fff;
                font-family: 'iconFont';
                font-size: 6px;
                position: absolute;
                right: 0;
                top: 12px;
            }
            ul{
                display: none;
            }
        }
    }
    &__button{
        margin-top: 2.8rem;
        text-align: center;
        .tag{
            background-color: #609FEE;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            padding: 8px 2.3rem;
        }
    }
    &__copyright{
        margin: 5.8rem 0 1.4rem;
        position: relative;
        p{
            color: #FFFFFF;
            font-size: 10px;
            font-weight: 400;
            line-height: 18px;
            text-align: center;
        }
        p:nth-child(2){
            margin-top: 20px;
        }
        .icon-icon-pencil{
            bottom: 123px;
            color: transparent;
            margin-top: -30px;
            position: fixed;
            right: 2.5rem;
            z-index: 99;
        }
        .icon-icon-pencil:before{
            background-color: #98B438;
            box-shadow: 0px 4px 4px rgba(32, 51, 78, 0.26);
            content: "\e910";
            font-size: 24px;
            height: 45px;
            padding: 9px;
            position: absolute;
            right: -11px;
            top: 22px;
            width: 45px;
        }
    }
}
.footer::before{
    background: url(./../image/footer-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 228px;
    left: 0px;
    position: absolute;
    top: -112px;
    width: 100%;
    z-index: -1;
}
@include mq-min(md){
    .footer{
        margin-top: 8rem;
        padding: 20px 34px 0;
        &__logos{
            flex-direction: row;
            justify-content: center;
            margin-bottom: 20px;
            picture{
                margin-right: 28px;
            }
            .icon::before{
                margin: 0 8px;
                font-size: 24px;
            }
            .icon-Facebook::before{
                font-size: 26px;
            }
        }
        &__menu{
            border-top: none;
            display: flex;
            justify-content: space-between;
            &--styles{
                border-bottom: none;
                p{
                    margin-bottom: 10px;
                }
                p::after{
                    display: none;
                }
                ul{
                    display: block;
                    list-style: none;
                    margin-left: 0;
                    a{
                        color: #FFFFFF;
                        font-family: 'Poppins';
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 14px;
                    }
                }
            }
            &--content{
                display: none;
            }
        }
        &__menu div:nth-of-type(1){
            order: 1;
        }
        &__menu div:nth-of-type(2){
            order: 3;
        }
        &__menu div:nth-of-type(3){
            order: 2;
        }
        &__menu div:nth-of-type(4){
            order: 4;
        }
        &__button{
            margin: -50px 0 80px -50px;
            .tag{
                font-size: 16px;
                line-height: 22px;
                padding: 8px 16px;
            }
        }
        &__copyright{
            p{
                font-size: 11px;
                line-height: 14px;
            }
            p:nth-child(2){
                margin-top: 12px;
            }
            .icon-icon-pencil{
                bottom: 76px;
                right: 48px;
                a{
                    background-color: #98B438;
                    color: #FFFFFF;
                    font-family: 'Poppins';
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                    margin-top: -30px;
                    padding: 6px 20px 6px 32px;
                    position: absolute;
                    right: -34px;
                    top: -40px;
                    width: 140px;
                    z-index: 1;
                }
            }
            .icon-icon-pencil:before{
                font-size: 30px;
                height: 56px;
                padding: 11px;
                right: 82px;
                top: -70px;
                width: 56px;
                z-index: 2;
            }
        }
    }
    .footer::before{
        background: url(./../image/footer-background-tablet.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 254px;
        top: -130px;
    }
}
@include mq-min(lg){
    .footer::before{
        background: url(./../image/footer-background-tablet.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 290px;
        top: -152px;
    }
}
@include mq-min(xl){
    .footer{
        &__menu{
            &--content{
                display: block;
            }
        }
        &__button{
            margin: -74px 0 80px 202px;
        }
    }
    .footer::before{
        background: url(./../image/footer-background-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 290px;
        top: -120px;
    }
}

@include mq-min(xb){
    .footer{
        padding: 30px 121px 0 164px;
        position: relative;
        &__container{
            align-items: flex-start;
            display: flex;
            flex-direction: row;
        }
        &__logos{
            flex-direction: column;
            margin-right: 30px;
            picture{
                margin-right: 0px;
                img{
                    height: auto;
                    width: 114px;
                }
            }
            &--icons{
                margin-top: 12px;
            }
        }
        &__menu{
            width: 78%;
            &--styles{
                padding: 0;
            }
        }
        &__button{
            margin: -60px 0 80px 376px;
        }
        &__copyright{
            margin-top: 100px;
            p:nth-child(2){
                margin-top: 0px;
            }
            .icon-icon-pencil{
                bottom: 50px;
                right: 185px;
                a{
                    right: -121px;
                    top: -40px;
                }
            }
            .icon-icon-pencil:before{
                right: -2px;
                top: -70px;
            }
        }
    }
}
@include mq-min(xxl){
    .footer::before{
        background: url(./../image/footer-background-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 300px;
        top: -166px;
    }
}