.gallery{
    margin-top: 6.6rem;
    position: relative;
    .heading__two{
        background-color: #78BFBA;
        color: #FFFFFF;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 3.2rem;
        text-align: center;
        padding: 3.4rem 0 1.5rem;
        position: relative;
        z-index: 2;
    }
    &__principal{
        background-color: #78BFBA;
        margin-top: -1.4rem;
        padding: 3.2rem 1.6rem;
        position: relative;
        z-index: 2;
        &--image{
            position: relative;
            img{
                border-radius: 0.4rem;
                height: auto;
                width: 100%;
            }
        }
        &--image::before{
            background-color: #F06D6D;
            border: 0.2rem solid #FFFFFF;
            border-radius: 50%;
            color: #FFFFFF;
            content: "\e90c";
            font-family: "iconFont";
            font-size: 1rem;
            height: 2.4rem;
            padding: 0.3rem 0.4rem;
            position: absolute;
            right: 1rem;
            top: 1rem;
            width: 2.4rem;
        }
        &--content{
            background-color: #FFFFFF;
            border-radius: 0 0 0.8rem 0.8rem;
            margin-top: -0.6rem;
            padding: 0.8rem 0.8rem 1rem;
            position: relative;
            z-index: 3;
            .heading__three{
                margin-top: 1.6rem;
            }
        }
        &--tagdate{
            .tag{
                background-color: #F06D6D;
            }
        }
        &--date{
            font-size: 1.2rem;
            margin-left: 0.9rem;
        }
    }
    &__principal::after{
        content: "";
        background: #78BFBA;
        bottom: -51%;
        display: block;
        height: 19.5rem;
        left: 0;
        position: absolute;
        transform: translate(0%, -50%);
        width: 100%;
        z-index: 0;
    }
    &__slider{
        position: relative;
        z-index: 2;
        margin: 1.6rem 0 0 1.6rem;
        &--item{
            margin-right: 2.4rem;
            position: relative;
        }
        &--image{
            border-radius: 0.4rem;
            img{
                height: auto;
                width: 100%;
            }
            .tag{
                background-color: #F06D6D;
                left: 0.8rem;
                position: absolute;
                top: 0.8rem;
            }
        }
        &--content{
            background-color: #FFFFFF;
            border-bottom: 0.8rem solid #F06D6D;
            padding: 0 0.4rem 1rem;
            position: relative;
            p{
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.5rem;
                margin-top: 2.8rem;
                text-align: center;
            }
        }
        &--content::before{
            background-color: #F06D6D;
            content: "\e90c";
            font-size: 1.8rem;
            height: 4rem;
            padding: 0.4rem 0.7rem;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: -67%;
            width: 4rem;
        }
        &--item:nth-child(2){
            .icon::before{
                content: "\e90d";
                font-size: 1.9rem;
                padding: 0.4rem 1.3rem;
            }
        }
    }
    .slick-dots{
        bottom: -4.2rem;
        li{
            margin: 0 0.1rem;
            button::before{
                color: #939EAD;
                font-size: 0.8rem;
                opacity: 1;
            }
        }
        .slick-active{
            button::before{
                color: #F06D6D;
                font-size: 1.4rem;
            }
        }
    }
    &__button{
        margin-top: 6.3rem;
        a{
            padding: 0.1rem 2.3rem;
        }
        a::after{
            font-size: 2rem;
        }
    }
}
.gallery::before{
    background: url(./../image/gallery-background-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 20rem;
    left: 0;
    position: absolute;
    top: -8rem;
    width: 100%;
    z-index: 1;
}
@include mq-min(sm){
    .gallery::before{
        height: 23rem;
        top: -12rem;
    }
}
@include mq-min(md){
    .gallery{
        margin-top: 8.2rem;
        .heading__two{
            font-size: 3.2rem;
            line-height: 4rem;
            padding-top: 2.4rem;
        }
        &__principal{
            display: flex;
            flex-direction: row-reverse;
            padding: 3.4rem 2.2rem;
            position: relative;
            z-index: 2;
            &--image{
                width: 100%;
                img{
                    border-radius: 0 0.4rem 0.4rem 0;
                }
            }
            &--image::before{
                font-size: 1.6rem;
                height: 3.4rem;
                padding: 0.3rem 0.5rem;
                right: 1.4rem;
                top: 1.4rem;
                width: 3.4rem;
            }
            &--content{
                border-radius: 0.8rem 0 0 0.8rem;
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;
                margin-top: 0;
                padding: 2.7rem 1.2rem 2.7rem 2rem;
                z-index: 0;
                .heading__three{
                    margin-top: 0;
                    width: 24rem;
                    span{
                        background-color: #78BFBA;
                        color: #FFFFFF;
                        margin-left: -0.6rem;
                        padding: 0 0.6rem;
                    }
                }
            }
            &--tagdate{
                margin: 1.8rem 0 0 -0.6rem;
            }
            &--date{
                display: none;
            }
        }
        &__principal::after{
            bottom: -11.4rem;
            height: 19.5rem;
            transform: translate(0, 0);
            width: 100%;
            z-index: -1;
        }
        &__slider{
            margin: 1.4rem 0 0 2.2rem;
            z-index: 2;
            &--content{
                p{
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                }
            }
            &--content::before{
                font-size: 2.2rem;
                height: 4.9rem;
                padding: 0.6rem 0.9rem;
                top: -63%;
                width: 4.9rem;
            }
            &--item:nth-child(2){
                .icon::before{
                    content: "\e90c";
                    font-size: 2.2rem;
                    padding: 0.6rem 0.9rem;
                }
            }
        }
        .slick-dots{
            bottom: -4.5rem;
        }
        &__button{
            margin-top: 7.6rem;
            a{
                font-size: 1.6rem;
            }
        }
    }
    .gallery::before{
        background: url(./../image/gallery-background-tablet.png) no-repeat;
        background-size: contain;
        height: 20.5rem;
        top: -9rem;
    }
}
@include mq-min(lg){
    .gallery{
        &__principal::after{
            bottom: -11.8rem;
        }
    }
    .gallery::before{
        background: url(./../image/gallery-background-tablet.png) no-repeat;
        background-size: contain;
        height: 23.4rem;
        top: -10rem;
    }
}
@include mq-min(xl){
    .gallery{
        margin-top: 10.2rem;
        .heading__two{
            padding-top: 2rem;
        }
        &__principal{
            margin-top: -0.2rem;
            &--image::before{
                font-size: 2.6rem;
                height: 5rem;
                padding: 0.5rem 0.7rem;
                right: 2rem;
                top: 2rem;
                width: 5rem;
            }
            &--content{
                padding: 7rem 2.1rem 7rem 2.4rem;
                .heading__three{
                    width: 37rem;
                }
            }
            &--tagdate{
                margin-left: 0;
            }
            &--date{
                display: block;
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
        &__principal::after{
            bottom: -9.5rem;
        }
        &__button{
            margin-top: 3.2rem;
        }
    }
    .gallery::before{
        background: url(./../image/gallery-background-desktop.png) no-repeat;
        background-size: contain;
        height: 23.4rem;
        top: -8.7rem;
    }
}
@include mq-min(xb){
    .gallery{
        .heading__two{
            font-size: 3.6rem;
            line-height: 4.5rem;
        }
        &__principal{
            margin: 0 auto;
            padding: 2.7rem 11.3% 2.4rem;
            &--content{
                width: 66%;
                .heading__three{
                    margin-top: 1.8rem;
                }
            }
            &--tagdate{
                align-items: flex-start;
                flex-direction: column;
            }
            &--date{
                margin: 0.5rem 0 0;
            }
        }
        &__principal::after{
            bottom: -10.4rem;
        }
        &__slider{
            margin: 0 auto;
            margin-left: 1.5rem;
            padding: 0 10%;
            &--content{
                p{
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                }
            }
        }
    }
}
@include mq-min(xxl){
    .gallery{
        &__slider{
            &--content{
                p{
                    height: 3.6rem;
                }
            }
        }
    }
    .gallery::before{
        height: 24rem;
        top: -12rem;
    }
}