.gallery{
    margin-top: 60px;
    position: relative;
    h2{
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
        position: relative;
        z-index: 3;
    }
    &__principal{
        border-radius: 4px;
        background-color: #78BFBA;
        padding: 32px 16px;
        position: relative;
        z-index: 2;
        &--image{
            position: relative;
            img{
                border-radius: 4px;
                height: auto;
                width: 100%;
            }
        }
        &--image::before{
            background-color: #F06D6D;
            border: 2px solid #FFFFFF;
            border-radius: 50%;
            color: #FFFFFF;
            content: "\e90c";
            font-family: "iconFont";
            font-size: 10px;
            height: 24px;
            padding: 3px 4px;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 24px;
        }
        &--content{
            background-color: #FFFFFF;
            border-radius: 0px 0px 8px 8px;
            margin-top: -6px;
            padding: 8px 8px 16px;
            position: relative;
            z-index: 3;
            h3{
                color: #20334E;
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
                margin-top: 20px;
            }
        }
        &--tagdate{
            .tag{
                background-color: #F06D6D;
            }
        }
    }
    &__principal::after{
        content: "";
        background: #78BFBA;
        bottom: -48%;
        display: block;
        height: 195px;
        left: 0;
        position: absolute;
        transform: translate(0%, -50%);
        width: 100%;
        z-index: 0;
    }
    &__slider{
        position: relative;
        z-index: 2;
        margin: 12px 0 0 16px;
        &--item{
            margin-right: 24px;
            position: relative;
        }
        &--image{
            border-radius: 4px;
            img{
                height: auto;
                width: 100%;
            }
            .tag{
                background-color: #F06D6D;
                left: 8px;
                position: absolute;
                top: 8px;
            }
        }
        &--content{
            background-color: #FFFFFF;
            border-bottom: 8px solid #F06D6D;
            height: 66px;
            padding: 0 4px 8px;
            position: relative;
            p{
                font-size: 12px;
                font-weight: 500;
                line-height: 15px;
                margin-top: 28px;
                text-align: center;
            }
        }
        &--content::before{
            background-color: #F06D6D;
            border: 2px solid #FFFFFF;
            border-radius: 50%;
            color: #FFFFFF;
            content: "\e90c";
            font-family: "iconFont";
            font-size: 18px;
            height: 40px;
            padding: 4px 7px;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: -50%;
            width: 40px;
        }
    }
    .slick-dots{
        bottom: -40px;
        li{
            margin: 0 1px;
            button::before{
                color: #939EAD;
                font-size: 8px;
                opacity: 1;
            }
        }
        .slick-active{
            button::before{
                color: #F06D6D;
                font-size: 14px;
            }
        }
    }
    &__button{
        margin-top: 60px;
        a::after{
            font-size: 20px;
        }
    }
}
.gallery::before{
    background: url(../../image/gallery-background-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 200px;
    left: 0px;
    position: absolute;
    top: -80px;
    width: 100%;
    z-index: 1;
}
@include mq-min(sm){
    .gallery::before{
        height: 230px;
        top: -120px;
    }
}
@include mq-min(md){
    .gallery{
        margin-top: 60px;
        h2{
            font-size: 32px;
            line-height: 40px;
        }
        &__principal{
            display: flex;
            flex-direction: row-reverse;
            padding: 32px 22px;
            position: relative;
            z-index: 3;
            &--image{
                width: 100%;
                img{
                    border-radius: 0px 4px 4px 0px;
                }
            }
            &--image::before{
                font-size: 16px;
                height: 34px;
                padding: 3px 5px;
                right: 14px;
                top: 14px;
                width: 34px;
            }
            &--content{
                border-radius: 8px 0px 0px 8px;
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;
                margin-top: 0;
                padding: 27px 12px 27px 20px;
                z-index: 0;
                h3{
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32px;
                    margin-top: 0;
                    width: 240px;
                    span{
                        background-color: #78BFBA;
                        color: #FFFFFF;
                        margin-left: -6px;
                        padding: 0 6px;
                    }
                }
            }
            &--tagdate{
                margin: 15px 0 0 -6px;
            }
            &--date{
                display: none;
            }
        }
        &__principal::after{
            bottom: -150px;
            height: 195px;
            transform: translate(0, 0);
            width: 100%;
            z-index: -1;
        }
        &__slider{
            margin: 14px 0 0 22px;
            z-index: 3;
            &--content{
                p{
                    font-size: 14px;
                    line-height: 18px;
                }
            }
            &--content::before{
                font-size: 22px;
                height: 49px;
                padding: 6px 9px;
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: -50%;
                width: 49px;
            }
        }
        .slick-dots{
            bottom: -50px;
        }
        &__button{
            margin-top: 80px;
            a{
                font-size: 16px;
            }
        }
    }
    .gallery::before{
        background: url(../../image/gallery-background-tablet.png) no-repeat;
        background-size: contain;
        height: 205px;
        top: -80px;
    }
}
@include mq-min(lg){
    .gallery{
        &__principal::after{
            bottom: -118px;
        }
    }
    .gallery::before{
        background: url(../../image/gallery-background-tablet.png) no-repeat;
        background-size: contain;
        height: 234px;
        top: -100px;
    }
}
@include mq-min(xl){
    .gallery{
        &__principal{
            &--image::before{
                font-size: 26px;
                height: 50px;
                padding: 5px 7px;
                right: 20px;
                top: 20px;
                width: 50px;
            }
            &--content{
                padding: 70px 21px 70px 24px;
                h3{
                    font-size: 32px;
                    line-height: 40px;
                    width: 370px;
                }
            }
            &--tagdate{
                margin-left: 0;
            }
            &--date{
                display: block;
                font-size: 12px;
                font-weight: 400;
            }
        }
        &__principal::after{
            bottom: -95px;
        }
        &__button{
            margin-top: 40px;
        }
    }
    .gallery::before{
        background: url(../../image/gallery-background-desktop.png) no-repeat;
        background-size: contain;
        height: 234px;
        top: -80px;
    }
}
@include mq-min(xb){
    .gallery{
        h2{
            font-size: 36px;
            line-height: 45px;
            margin-bottom: 10px;
        }
        &__principal{
            margin: 0 auto;
            padding: 32px 11.3%;
        }
        &__principal::after{
            bottom: -120px;
        }
        &__slider{
            margin: 0 auto;
            margin-left: 15px;
            padding: 0 10%;
            &--content{
                p{
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}
@include mq-min(xxl){
    .gallery::before{
        height: 240px;
        top: -120px;
    }
}