.container{
    padding: 0 0;
}
.header{
    &__live{
        align-items: center;
        background-color: #F06D6D;
        display: flex;
        height: 30px;
        justify-content: center;
        p{
            color: white;
            display: flex;
            font-family: $font-primary;
            font-size: 12px;
            margin-left: -12px;
        }
        p:before{
            content: "•";
            font-size: 28px;
            margin: 0 12px;
        }
    }
    &__site{
        position: relative;
        background: linear-gradient(to right,  #20334EFF 20%, #20334E00), url(./../../image/header-background.png), no-repeat;
        background-color: #20334E;
        &--menu{
            span::before{
                color: #FFFFFF;
                content: "\e904";
                cursor: pointer;
                font-family: 'iconFont';
                font-size: 22px;
                left: 32px;
                position: absolute;
                top: 12px;
            }
            .active{
                transform: translate(-600px);
            }
            .opacity{
                background-color: black;
                transition: all .5s ease;
            }
        }
        &--menucont{
            background-color: #20334E;
            height: 600px;
            left: 0;
            position: absolute;
            top: 0;
            transition: all .5s ease;
            width: 320px;
            ul{
                list-style: none;
                padding: 20px 0 20px;
                li{
                    color: #FFFFFF;
                    cursor: pointer;
                    display: block;
                    font-size: 12px;
                    padding: 4px 10px;
                    text-decoration: none;
                }
                li:hover{
                    background-color: #33517D;
                    color: #CCC;
                }
            }
        }
        &--logo{
            align-items: center;
            display: flex;
            height: 56px;
            justify-content: center;
        }
        &--logo:before{
            background: url(./../../image/icon-search.png) no-repeat;
            content: "";
            height: 23px;
            position: absolute;
            right: 20px;
            top: 18px;
            width: 21px;
        }
    }
    &__links{
        display: flex;
        flex-direction: row;
        height: 32px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        &--list{
            display: flex;
            li{
                align-items: center;
                display: flex;
                font-size: 20px;
                list-style: none;
                padding-bottom: 0;
                a{    
                    color: #20334E;
                    font-size: 12px;
                }
            }
            li:first-child{
                font-weight: 600;
            }
            li:not(:first-child)::before{
                align-items: center;
                content: "•";
                margin: 0 10px;
            }
            li:nth-child(2)::before{
                content:"|";
                font-weight: 200;
            }
        }
        &--social{
            display: flex;
        }
        &--icons{
            align-items: center;
            color: #FF742B;
            display: flex;
            font-family: $font-icon;
            font-size: 15px;
            margin: 2px 10px;
        }
        &--insta::before{
            content: "\e903";
        }
        &--face::before{
            content: "\e902";
        }
        &--twitter::before{
            content: "\e901";
        }
        &--youtube::before{
            content: "\e900";
        }
        &--date{
            align-items: center;
            display: flex;
            font-size: 12px;
            padding: 0 20px;
        }
    }
}
@include mq-min(md){
    .header{
        position: relative;
        &__live{
            border-radius: 4px;
            height: 23px;
            left: 90px;
            position: absolute;
            padding: 0px 15px;
            top: 16px;
            z-index: 2;
            p{
                font-size: 10px;
                margin-left: -8px;
            }
            p:before{
                margin: 0 6px;
            }
        }
        &__links{
            height: 40px;
            &--list{
                li{
                    a{    
                        color: #20334E;
                        font-size: 14px;
                    }
                }
            }
            &--date{
                font-size: 11px;
            }
        }
    }
}
@include mq-min(lg){
    .container{
        max-width: 100%;
    }
    .header{
        &__links{
            justify-content: space-between;
        }
    }
}
