.homemade{
    padding: 3rem 0 3.3rem;
    color: transparent;
    background-image: url(./../image/homemade-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    &__container{
        align-items: center;
        background-color: white;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        margin: 0 1.6rem;
        padding: 3rem 1.5rem;
    }
    &__logo{
        margin-bottom: 1.3rem;
    }
    &__content{
        &--image{
            margin-bottom: 0.8rem; 
            position: relative;
            div{
                position: relative;
            }
            div:before{
                background-color: #145AB1;
                content: "\e90d";
                font-size: 1.2rem;
                height: 2.4rem;
                left: 50%;
                padding: 0.1rem 0.7rem;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                width: 2.4rem;
            }
            img{
                height: auto;
                width: 100%;
            }
        }
        &--text{
            font-family: $font-secondary;
            .heading__two{
                margin-bottom: 1.4rem;
                text-align: center;
                span{
                    background-color: #FCC690;
                    padding: 0 0.8rem 0 0.2rem;
                }
            }
            .tag{
                background-color: #609FEE;
                margin: 1.4rem 0 0.8rem;
                padding: 0.3rem 0.5rem;
            }
        }
        &--p{
            margin-top: 0.8rem;
            p{
                line-height: 2rem;
                margin-bottom: 0.4rem;
                width: 90%;
            }
        }
    }
    &__button{
        margin-top: 1.4rem;
        padding-bottom: 1.7rem;
        a{
            padding: 0.5rem 1rem;
        }
        a:after{
            font-size: 1.2rem;
            margin-top: 0.2rem;
        }
    }
}
@include mq-min(md){
    .homemade{
        padding: 2.4rem 0;
        &__container{
            flex-direction: column;
            margin: 0 2.4rem;
            padding: 2.6rem 2rem 2.1rem 2.6rem;
        }
        &__logo{
            margin-bottom: 2.5rem;
            img{
                height: auto;
                width: 14rem;
            }
        }
        &__content{
            display: flex;
            flex-direction: row-reverse;
            &--image{
                margin-top: -0.6rem;
                width: 57%;
            }
            &--text{
                margin-top: -1.8rem;
                .heading__two{
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 2.5rem;
                    margin-bottom: 1rem;
                    text-align: left;
                }
                p{
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 2.4rem;
                    margin-bottom: 0.2rem;
                    width: 96%;
                }
            }
        }
        &__button{
            justify-content: flex-start;
            margin-top: 0.3rem;
            padding-bottom: 0;
            a{
                padding: 0.5rem 1.3rem;
            }
        }
    }
}
@include mq-min(xl){
    .homemade{
        padding: 4.3rem 4.3rem 4.5rem;
        &__container{
            margin: 0 auto;
            padding: 5rem 2.9rem 3.6rem 3.7rem;
            position: relative;
        }
        &__logo{
            img{
                width: 21rem;
            }
        }
        &__content{
            &--image{
                margin-top: 0;
                width: 65%;
                div::before{
                    font-size: 2.4rem;
                    height: 4.4rem;
                    padding: 0.3rem 1.4rem;
                    width: 4.4rem;
                }
            }
            &--text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .heading__two{
                    font-size: 2.4rem;
                    line-height: 3.2rem;
                    margin-bottom: 2rem;
                }
                .tag{
                    margin-bottom: 0.4rem;
                    padding: 0.3rem 0.8rem;
                }
                p{
                    line-height: 2.4rem;
                }
            }
            &--p{
                margin-bottom: 0.7rem;
            }
        }
        &__button{
            padding-bottom: 0;
            a{
                font-size: 1.6rem;
                line-height: 2.2rem;
                padding: 0.5rem 2rem;
            }
        } 
    }
}
@include mq-min(xb){
    .homemade{
        &__container{
            width: 105.6rem;
        }
        &__logo{
            position: absolute;
            left: 11.6rem;
            top: 6.7rem;
        }
        &__content{
            &--text{
                justify-content: end;
            }
        }
    }
}