.homemade{
    padding: 30px 0 33px;
    color: transparent;
    background-image: url(./../image/homemade-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    &__container{
        align-items: center;
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        margin: 0 16px;
        padding: 30px 15px;
    }
    &__logo{
        margin-bottom: 13px;
    }
    &__content{
        &--image{
            margin-bottom: 8px; 
            position: relative;
            div{
                position: relative;
            }
            div:before{
                background-color: #145AB1;
                content: "\e90d";
                font-size: 12px;
                height: 24px;
                left: 50%;
                padding: 1px 7px;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                width: 24px;
            }
            img{
                height: auto;
                width: 100%;
            }
        }
        &--text{
            font-family: $font-secondary;
            .heading__two{
                margin-bottom: 14px;
                text-align: center;
                span{
                    background-color: #FCC690;
                    padding: 0 8px 0 2px;
                }
            }
            .tag{
                background-color: #609FEE;
                margin: 14px 0 8px;
                padding: 3px 5px;
            }
        }
        &--p{
            margin-top: 8px;
            p{
                line-height: 20px;
                margin-bottom: 4px;
                width: 90%;
            }
        }
    }
    &__button{
        margin-top: 14px;
        padding-bottom: 17px;
        a{
            padding: 5px 10px;
        }
        a:after{
            font-size: 12px;
            margin-top: 2px;
        }
    }
}
@include mq-min(md){
    .homemade{
        padding: 24px 0;
        &__container{
            flex-direction: column;
            margin: 0 24px;
            padding: 26px 20px 21px 26px;
        }
        &__logo{
            margin-bottom: 25px;
            img{
                height: auto;
                width: 140px;
            }
        }
        &__content{
            display: flex;
            flex-direction: row-reverse;
            &--image{
                margin-top: -6px;
                width: 57%;
            }
            &--text{
                margin-top: -1.8rem;
                .heading__two{
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25px;
                    margin-bottom: 10px;
                    text-align: left;
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom: 2px;
                    width: 96%;
                }
            }
        }
        &__button{
            justify-content: flex-start;
            margin-top: 0.3rem;
            padding-bottom: 0px;
            a{
                padding: 5px 13px;
            }
        }
    }
}
@include mq-min(xl){
    .homemade{
        padding: 43px 43px 45px;
        &__container{
            margin: 0 auto;
            padding: 50px 29px 36px 37px;
            position: relative;
        }
        &__logo{
            img{
                width: 210px;
            }
        }
        &__content{
            &--image{
                margin-top: 0;
                width: 65%;
                div::before{
                    font-size: 24px;
                    height: 44px;
                    padding: 3px 14px;
                    width: 44px;
                }
            }
            &--text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .heading__two{
                    font-size: 24px;
                    line-height: 32px;
                    margin-bottom: 20px;
                }
                .tag{
                    margin-bottom: 4px;
                    padding: 3px 8px;
                }
                p{
                    line-height: 24px;
                }
            }
            &--p{
                margin-bottom: 7px;
            }
        }
        &__button{
            padding-bottom: 0px;
            a{
                font-size: 16px;
                line-height: 22px;
                padding: 5px 20px;
            }
        } 
    }
}
@include mq-min(xb){
    .homemade{
        &__container{
            width: 1056px;
        }
        &__logo{
            position: absolute;
            left: 11.6rem;
            top: 6.7rem;
        }
        &__content{
            &--text{
                justify-content: end;
            }
        }
    }
}