.homemade{
    padding: 30px 0;
    color: transparent;
    background-image: url(./../image/homemade-background.png);
    &__container{
        align-items: center;
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        margin: 0 16px;
        padding: 30px 15px;
    }
    &__logo{
        margin-bottom: 18px;
    }
    &__content{
        &--image{
            margin-bottom: 8px; 
            position: relative;
            img{
                height: auto;
                width: 100%;
            }
        }
        &--image::before{
            background-color: #145AB1;
            border: solid 2px #FFFFFF;
            border-radius: 50%;
            content: "\e90d";
            color: #FFFFFF;
            font-family: "iconFont";
            font-size: 12px;
            height: 24px;
            left: 50%;
            padding: 1px 7px;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            width: 24px;
        }
        &--text{
            h2{
                color: #20334E;
                font-size: 20px;
                font-weight: 600;
                line-height: 26px;
                text-align: center;
            }
            .tag{
                background-color: #609FEE;
                color: #FFFFFF;
                font-size: 12px;
                margin: 14px 0 8px;
                width: fit-content;
            }
            p{
                color: #20334E;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 4px;
                width: 90%;
            }
        }
    }
    &__button{
        padding-bottom: 17px;
        a{
            border: solid 1px #FF742B;
            color: #FF742B;
            padding: 8px;
            width: fit-content;
        }
    }
}
@include mq-min(md){
    .homemade{
        padding: 24px 0;
        &__container{
            flex-direction: column;
            margin: 0 24px;
            padding: 26px 20px 21px 26px;
        }
        &__logo{
            margin-bottom: 25px;
        }
        &__content{
            display: flex;
            flex-direction: row-reverse;
            &--image{
                width: 55%;
            }
            &--text{
                h2{
                    font-weight: 700;
                    text-align: left;
                }
                .tag{
                    margin: 10px 0 8px;
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    margin-bottom: 2px;
                    width: 86%;
                }
            }
        }
        &__button{
            justify-content: flex-start;
            padding-bottom: 10px;
            a{
                border: solid 1px #FF742B;
                color: #FF742B;
                padding: 8px;
                width: fit-content;
            }
        }
    }
}
@include mq-min(xl){
    .homemade{
        &__content{
            &--text{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .tag{
                    margin: 0;
                }
            }
        }
    }
}
@include mq-min(xb){
    .homemade{
        padding: 43px;
        &__container{
            margin: 0 auto;
            padding: 50px 29px 50px 37px;
            position: relative;
            width: 1056px;
        }
        &__logo{
            position: absolute;
            left: 131px;
            top: 50px;
        }
        &__content{
            &--image{
                width: 62%;
            }
            &--image::before{
                font-size: 24px;
                height: 44px;
                padding: 3px 14px;
                width: 44px;
            }
            &--text{
                justify-content: end;
                h2{
                    margin-bottom: 40px;
                }
                .tag{
                    margin: 10px 0px;
                }
                p{
                    line-height: 24px;
                }
            }
        }
        &__button{
            padding-bottom: 0px;
            a{
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}