.lasthour{
    background-color: #20334E;
    border-top: solid #EF0000 6px;
    margin-top: 34px;
    padding-bottom: 1px;
    position: relative;
    &__tag{
        align-items: center;
        background-color: #EF0000;
        border-radius: 30px;
        display: flex;
        height: 34px;
        justify-content: center;
        left: 25px;
        position: absolute;
        top: -20px;
        width: 208px;
        h1{
            color: white;
            font-size: 20px;
        }
        h1:before{
            color: white;
            content: "\e905";
            font-family: $font-icon;
            align-items: center;
            font-size: 15px;
            margin-right: 5px;
        }
    }
    &__content{
        background-color: white;
        border-radius: 4px;
        margin: 64px 16px 24px;
        &--firstpart{
            padding: 22px 16px 0;
            h2{
                color: #20334E;
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;
                margin-bottom: 18px;
            }
            p{
                color: #939EAD;
                font-family: 'Poppins';
                font-size: 10px;
                font-weight: 600;
            }
        }
        &--video{
            iframe{
                border-radius: 4px;
                height: auto;
                width: 100%;
            };
            background: linear-gradient(#FFFFFFF2, #FFFFFF);
        }
        &--secondpart{
            padding: 0 16px;
            position: relative;
            z-index: 4;
            h3{
                color: #EF0000;
                font-size: 14px;
                font-weight: 900;
                line-height: 20px;
                margin: 8px 0 34px;
                text-align: center;
            }
            div:first-of-type{
                font-weight: 600;
                position: relative;
            }
            div:first-of-type::before{
                    background-color: #FFFFFF;
                    content: "";
                    height: 30px;
                    left: -5px;
                    position: absolute;
                    top: 0px;
                    width: 10px;
            }
            div:first-of-type::after{
                content: "•";
                color: #EF0000;
                font-size: 20px;
                left: -4px;
                position: absolute;
                top: 8px;
            }
        }
        &--update:nth-child(even){
            border-left: dashed 1px #20334E;
            border-bottom: dashed 1px #20334E;
        }
        &--update:nth-child(odd){
            border-right: dashed 1px #20334E;
            border-bottom: dashed 1px #20334E;
        }
        &--hour{
            align-items: center;
            color: #609FEE;
            display: flex;
            font-family: 'Poppins';
            font-size: 12px;
            font-weight: 600;
            margin: 5px;
        }
        &--hour:before{
            color: #20334E;
            content: "\e905";
            font-family: $font-icon;
            align-items: center;
            font-size: 15px;
            margin-right: 10px;
        }
        &--event{
            font-size: 11px;
            margin: 0 30px;
            height: 55px;
            width: 78%;
        }
        &--button{
            a{
                border-color: #EF0000;
                color: #EF0000;
            }
            a:after{
                font-size: 12px;
                margin-top: 2px;
            }
        }
    }
}
@include mq-min(md){
    .lasthour{
        &__content{
            &--firstpart{
                h2{
                    font-size: 24px;
                    line-height: 32px;
                }
                p{
                    font-size: 14px;
                    font-weight: 700;
                    margin-top: -5px;
                }
            }
            &--video{
                iframe{
                    height: 374px;
                };
            }
            &--secondpart{
                margin-top: 26px;
                position: relative;
                h3{
                    font-size: 20px;
                    text-align: left;
                }
                div:first-of-type::before{
                    height: 48px;
                }
                div:first-of-type::after{
                    font-size: 29px;
                    left: -5px;
                    top: 18px;
                }
            }
            &--hour{
                font-size: 14px;
            }
            &--event{
                font-size: 16px;
                width: 68%;
            }
            &--button{
                position: absolute;
                right: 16px;
                top: -22px;
            }
        }
    }
}
@include mq-min(xl){
    .lasthour{
        &__content{
            display: flex;
            flex-direction: row;
            padding-bottom: 10px;
            &--firstpart{
                padding: 22px 0 0 58px;
                h2{
                    font-size: 32px;
                    line-height: 40px;
                }
            }
            &--video{
                iframe{
                    height: 410px;
                    width: 95%;
                };
            }
            &--secondpart{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 22px;
                position: relative;
                h3{
                    margin-top: 22px;
                }
                div:first-of-type::before{
                    height: 62px;
                }
                div:first-of-type::after{
                    font-size: 29px;
                    left: -5px;
                    top: 32px;
                }
            }
            &--update{
                padding: 4px 0 18px 24px;
            }
            &--event{
                line-height: 22px;
                margin-top: -14px;
                width: 84%;
            }
            &--button{
                position: absolute;
                right: 8px;
                top: -10px;
            }
        }
    }
}
@include mq-min(xxl){
    .lasthour{
        &__secondpart{
            margin-left: 50px;
        }
    }
}