.lasthour{
    background-color: #20334E;
    border-top: solid #EF0000 6px;
    margin-top: 34px;
    padding-bottom: 1px;
    position: relative;
    &__tag{
        align-items: center;
        background-color: #EF0000;
        border-radius: 30px;
        display: flex;
        height: 34px;
        justify-content: center;
        left: 25px;
        position: absolute;
        top: -20px;
        width: 208px;
        p{
            color: white;
            font-size: 2rem;
            margin-left: 2.9rem;
            position: relative;
        }
        p:before{
            color: white;
            content: "\e905";
            font-family: $font-icon;
            font-size: 1.7rem;
            left: -3.1rem;
            position: absolute;
            top: 0;
        }
    }
    &__content{
        background-color: white;
        border-radius: 4px;
        margin: 64px 16px 24px;
        &--firstpart{
            padding: 22px 16px 0;
            h1{
                letter-spacing: 0.03rem;
                margin-bottom: 18px;
                width: 90%;
            }
            p{
                color: #939EAD;
                font-family: 'Poppins';
                font-size: 10px;
                font-weight: 600;
                margin-top: 0.6rem;
            }
        }
        &--video{
            div{
                height: 17.1rem;
                position: relative;
                width: 29.8rem;
                iframe{
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }
        &--secondpart{
            h2{
                color: #EF0000;
                font-size: 14px;
                line-height: 20px;
                margin: 0.8rem 0 2.8rem;
                text-align: center;
            }
        }
        &--secondtain{
            background: linear-gradient (to top, #FFFFFFF2 20%, #FFFFFF);
            display: flex;
            flex-direction: column;
            height: 190px;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 0 16px;
            position: relative;
            z-index: 4;
            div:first-of-type{
                p{
                    font-weight: 600;
                    position: relative;
                }
            }
            div:first-of-type::before{
                    background-color: #FFFFFF;
                    content: "";
                    height: 30px;
                    left: 12px;
                    position: absolute;
                    top: 0px;
                    width: 10px;
            }
            div:first-of-type::after{
                content: "•";
                color: #EF0000;
                font-size: 2.3rem;
                left: 1.3rem;
                position: absolute;
                top: 1.2rem;
            }
        }
        &--update{
            padding: 0.2rem 1rem 2.5rem 0;
        }
        &--update:nth-child(odd){
            border-left: dashed 1px #20334E;
            border-bottom: dashed 1px #20334E;
        }
        &--update:nth-child(even){
            border-right: dashed 1px #20334E;
            border-bottom: dashed 1px #20334E;
        }
        &--hour{
            align-items: center;
            color: #609FEE;
            display: flex;
            font-family: 'Poppins';
            font-size: 12px;
            font-weight: 600;
            margin: 0.5rem 0 0 0.5rem;
        }
        &--hour:before{
            color: #20334E;
            content: "\e905";
            font-family: $font-icon;
            align-items: center;
            font-size: 15px;
            margin-right: 10px;
        }
        &--event{
            font-size: 1.1rem;
            letter-spacing: 0.01rem;
            line-height: 1.5rem;
            margin: -0.2rem 3rem 0 3.2rem;
            width: 90%;
        }
        &--button{
            a{
                border-color: #EF0000;
                color: #EF0000;
                padding: 0.4rem 2rem;
            }
            a:after{
                font-size: 12px;
                margin: 0.2rem 0 0.2rem 1.1rem;
            }
        }
    }
}
@include mq-min(md){
    .lasthour{
        &__content{
            &--firstpart{
                p{
                    font-size: 14px;
                    font-weight: 700;
                    margin-top: -5px;
                }
            }
            &--video{
                iframe{
                    height: 374px;
                };
            }
            &--secondpart{
                margin: 16px;
                padding-bottom: 8px;
                position: relative;
                h3{
                    font-size: 20px;
                    text-align: left;
                }
            }
            &--secondtain{
                div:first-of-type::before{
                    height: 48px;
                }
                div:first-of-type::after{
                    font-size: 29px;
                    left: 12px;
                    top: 18px;
                }
            }
            &--update{
                padding: 10px 0 0 18px;
            }
            &--hour{
                font-size: 14px;
            }
            &--event{
                font-size: 16px;
                height: 68px;
                line-height: 22px;
                margin: -5px 30px 0;
                width: 75%;
            }
            &--button{
                position: absolute;
                right: 4px;
                top: -22px;
            }
        }
    }
}
@include mq-min(xl){
    .lasthour{
        &__content{
            display: flex;
            flex-direction: row;
            padding-bottom: 10px;
            &--firstpart{
                padding: 22px 0 0 58px;
                width: 100%;
            }
            &--video{
                iframe{
                    height: 410px;
                    width: 95%;
                };
            }
            &--secondpart{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-right: 22px;
                padding-bottom: 50px;
                position: relative;
                width: 62%;
                h3{
                    margin-top: 22px;
                }
            }
            &--secondtain{
                height: 320px;
                padding: 0 4px;
                div:first-of-type::before{
                    height: 62px;
                    left: 2px;
                }
                div:first-of-type::after{
                    font-size: 29px;
                    left: -1px;
                    top: 32px;
                }
            }
            &--update{
                padding: 4px 0 18px 20px;
            }
            &--event{
                margin-top: -5px;
                width: 84%;
            }
            &--button{
                position: absolute;
                right: 8px;
                top: -10px;
            }
        }
    }
}
@include mq-min(xb){
    .lasthour{ 
        &__content{
            &--secondpart{
            margin-right: 40px;
            }
            &--button{
                position: absolute;
                right: 0;
                top: 10px;
            }
        }
    }
}