.news{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding: 0 16px;
    position: relative;
    &__principal{
        margin-top: 31px;
        &--image{
            height: auto;
            position: relative;
            width: 100%;
        }
        &--image:before{
            background-color: #FF9D00;
            border: 2px solid #FFFFFF ;
            border-radius: 50%;
            color: #FFFFFF;
            content: "\e90c";
            font-family: "iconFont";
            font-size: 10px;
            height: 24px;
            padding: 3px 4px;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 24px;
        }
    }
}