.news{
    align-items: center;
    margin: 3.2rem 0 6rem;
    padding: 1rem 1.6rem 4rem;
    position: relative;
    &__taghead{
        left: 1.6rem;
        top: 0.6rem;
        padding: 0.3rem 1.7rem;
        p{
            span{
                color: #FF742B;
            }
        }
    }
    &__taghead::before{
        background-color: #FF742B;
        content: "";
        height: 0.1rem;
        left: -1.7rem;
        position: absolute;
        top: 1.6rem;
        width: 1.6rem;
    }
    &__principal{
        margin: 4.8rem 0 1rem;
        &--image{
            position: relative;
            img{
                height: auto;
                width: 100%;
            }
        }
        &--image:before{
            content: "\e90c";
            font-family: "iconFont";
            font-size: 1rem;
            height: 2.4rem;
            padding: 0.4rem 0.4rem;
            position: absolute;
            right: 0.5rem;
            top: 0.9rem;
            width: 2.4rem;
        }
        &--date{
            margin-top: -0.6rem;
        }
        &--content{ 
            margin-top: 0.8rem;
            width: 95%;
            p{
                font-family: $font-secondary;
                margin-top: 1rem;
            }
        }
    }
    &__plus{
        position: relative;
        width: 100%;
        &--item{
            display: flex;
            flex-direction: row;
            margin-bottom: -0.5rem;
            padding: 1.2rem 0;
        }
        &--item:nth-child(2){
            span::before{
                border: none;
                content: "\e90d";
                font-size: 0.8rem;
                height: 1.8rem;
                left: 0;
                padding: 0.4rem 0.7rem;
                position: absolute;
                top: 0;
                width: 1.8rem;
            }
            .heading__four{
                margin-left: 2.4rem;
            }
        }
        &--image{
            img{
                border-radius: 0.4rem;
                object-fit: cover;
            }
        }
        &--info{
            margin-left: 0.8rem;
        }
        &--tagdate{
            margin-top: 0;
        }
        &--content{
            margin-top: 0.8rem;
            position: relative;
        }
    }
    &__button{
        margin-top: 1.1rem;
        a{
            padding: 0.02rem 2.2rem;
        }
    }
    &__slider{
        margin: 0 auto;
        width: 30.2rem;
        &--item{
            position: relative;
            .tag{
                background-color: #609FEE;
                font-size: 1.4rem;
                font-weight: 500;
                left: 1.6rem;
                padding: 0.8rem 0.9rem;
                position: absolute;
                top:1.6rem
            }
        }
        &--background{
            border-radius: 0.4rem;
            height: auto;
            width: 100%;
        }
        &--content{
            position: absolute;
            bottom: 5rem;
            left: 1.6rem;
            .heading__three{
                color: #FFFFFF;
                font-family: $font-secondary;
                font-weight: 700;
                line-height: 2.4rem;
                margin-top: 0.8rem;
            }
            div{
                display: flex;
                flex-direction: row;
                margin-top: 0.8rem;
                p{
                    color: #FFFFFF;
                    font-size: 1.1rem;
                    font-weight: 700;
                    line-height: 1.5rem;
                }
                p:nth-child(2){
                    color: #FFFFFF;
                    font-family: $font-secondary;
                    font-weight: 400;
                    margin-left: 0.5rem;
                }
            }
        }
        .slick-dots{
            bottom: 0.4rem;
            li{
                margin: 0 0.1rem;
                button{
                    color: #FFFFFF;
                }
                button::before{
                    color: #FFFFFF;
                    font-size: 0.8rem;
                    opacity: 1;
                }
            }
            .slick-active{
                button::before{
                    color: #FF9D00;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
@include mq-min(md){
    .news{
        margin-top: 12.4rem;
        padding: 0.1rem 2.6rem 2rem;
        position: relative;
        &__taghead{
            left: 4.8rem;
            padding: 0.3rem 3.8rem;
            p{
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 3.2rem;
            }
        }
        &__taghead::before{
            left: -4.9rem;
            top: 1.8rem;
            width: 4.8rem;
        }
        &__principal{
            margin-bottom: 0.5rem;
            padding-top: 3.7rem;
            &--image:before{
                font-size: 2.6rem;
                height: 5.5rem;
                padding: 0.8rem 1rem;
                right: 1.7rem;
                top: 2.2rem;
                width: 5.5rem;
            }
            &--tagdate{
                align-items: center;
                margin-left: 0;
            }
            &--date{
                font-size: 1.4rem;
            }
            &--content{
                margin-left: 0;
                .heading__three{
                    span{
                       background-color: #FCC690; 
                    }
                }
                p{
                    margin-top: 1.4rem;
                }
            }
        }
        &__plus{
            display: flex;
            flex-direction: row;
            margin-top: 1.4rem;
            width: 77%;
            &--item{
                flex-direction: column;
                margin-right: 2.4rem;
                width: 48%;
                .heading__three{
                    margin: 0.2rem 0;
                    width: 22rem;
                }
            }
            &--image{
                margin-bottom: 3.5rem;
                position: relative;
                img{
                    border-radius: 0.4rem;
                    height: calc(100% + 2.8rem);
                    object-fit: cover;
                    width: 100%;
                }
            }
            &--image::before{
                content: "\e90d";
                font-size: 1.2rem;
                height: 2.4rem;
                padding: 0.1rem 0.7rem ;
                position: absolute;
                right: 1rem;
                top: 1rem;
                width: 2.4rem;
            }
            &--info{
                margin-left: 0;
            }
            &--item:nth-child(2){
                div::before{
                    display: none;
                }
                span::before{
                    display: none;
                }
                .heading__four{
                    margin-left: 0;
                }
            }
            &--item:nth-child(3){
                display: none;
            }
        }
        &__button{
            margin: 5.9remn 0 1rem;
            a{
                font-size: 1.6rem;
                padding: 0.2rem 2.5rem;
            }
            a::after{
                font-size: 2rem;
                margin-bottom: 0.2rem;
            }
        }
        &__slider{
            bottom: 4.8rem;
            position: absolute;
            right: 2rem;
            width: 16rem;
            &--item{
                .tag{
                    font-size: 1.2rem;
                    left: 0.8prem;
                    padding: 0.4rem 0.9rem;
                    top: 0.9rem;
                }
            }
            &--background{
                img{
                    height: 28.2rem;
                    width: 16rem;
                }
            }
            &--logo{
                img{
                    height: auto;
                    width: 3.3rem;
                }
            }
            &--content{
                position: absolute;
                bottom: 3.1rem;
                left: 0.8rem;
                .heading__three{
                    font-size: 1.2rem;
                    line-height: 1.5rem;
                    width: 90%;
                }
                div{
                    flex-direction: column;
                    margin-top: 2rem;
                    p{
                        font-size: 0.8rem;
                        font-weight: 700;
                        line-height: 1rem;
                    }
                    p:nth-child(2){
                        font-family: $font-primary;
                        font-weight: 400;
                        margin: 0.4rem 0 0;
                    }
                }
            }
            .slick-dots{
                bottom: 0.1rem;
            }
        }
    }
}

@include mq-min(lg){
    .news{
        &__slider{
            bottom: 8rem;
        }
    }
}
@include mq-min(xl){
    .news{
        margin-bottom: 7rem;
        padding: 0.2prem 5rem 2rem;
        position: relative;
        &__taghead{
            left: 4.4rem;
            padding: 0.08rem 3rem;
            top: -3.2rem;
            
        }
        &__taghead::before{
            left: -4.6rem;
            top: 2.3rem;
            width: 4.5rem;
        }
        &__principal{
            display: flex;
            flex-direction: row;
            padding-top: 0;
            &--image{
                width: 100%;
            }
            &--image:before{
                height: 5.8rem;
                padding: 0.8rem 1.1rem;
                right: 1.9rem;
                top: 2.2rem;
                width: 5.8rem;
            }
            &--contain{
                margin-top: 2.2rem;
                padding-left: 3.9rem;
                width: 71%; 
            }
            &--tagdate{
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                margin-top: 0;
            }
            &--date{
                margin: 0.6rem 0 0;
            }
            &--content{
                margin-top: -0.01rem;
                .heading__three{
                    font-size: 2.4rem;
                    line-height: 3.2rem;
                    margin-top: 0.8rem;
                }
                p{
                    margin-top: 1.5rem;
                }
            }
        }
        &__plus{
            margin-top: 2rem;
            position: relative;
            width: 82%;
            &--item:nth-child(3){
                display: block;
            }
            &--image{
                margin-bottom: 0;
                img{
                    height: auto;
                }
            }
            &--image::before{
                font-size: 1.4rem;
                height: 3rem;
                padding: 0.3rem 0.9rem;
                right: 0.8rem;
                top: 1.4rem;
                width: 3rem;
            }&--tagdate{
                margin-top: 0.3rem;
            }
        }
        &__button{
            margin-top: 2.1rem;
            width: 82%;
        }
        &__slider{
            bottom: 2.8rem;
            right: 5rem;
        }
    }
}
@include mq-min(xb){
    .news{
        margin-top: 14.4rem;
        margin-bottom: 15rem;
        &__plus{
            width: 76%;
            &--item{
                width: 31%;
            }
        }
        &__button{
            width: 74%;
        }
        &__slider{
            bottom: -11.1rem;
            width: 30rem;
            &--item{
                .tag{
                    font-size: 1.4rem;
                    left: 1.8rem;
                    padding: 0.8rem 0.9rem;
                    top: 1.6rem;
                }
            }
            &--background{ 
                img{
                    height: 46rem;
                    width: 30rem;
                }
            }
            &--logo{
                img{
                    height: auto;
                    width: 6.1rem;
                }
            }
            &--content{
                bottom: 3.6rem;
                left: 1.9rem;
                .heading__three{
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
                div{
                    flex-direction: row;
                    margin: 0.8rem 0 1.2rem;
                    p{
                        font-size: 1.1rem;
                        font-weight: 700;
                        line-height: 1.5rem;
                    }
                    p:nth-child(2){
                        font-family: $font-secondary;
                        margin: 0 0.5rem 0;
                    }
                }
            }
            .slick-dots{
                bottom: 0.4rem;
            }
        }
    }
}
@include mq-min(xxl){
    .news{
        margin-bottom: 7rem;
        &__plus{
            width: 83%;
            &--item{
                width: 33.3%;
            }
        }
        &__slider{
            bottom: -2.2rem;
            margin-bottom: 0;
            &--item{
                .tag{
                    font-size: 1.4rem;
                    padding: 0.8rem 0.9rem;
                }
            }
            &--background{ 
                img{
                    height: 46rem;
                    width: 30rem;
                }
            }
            &--logo{
                img{
                    height: auto;
                    width: 6.1rem;
                }
            }
            &--content{
                .heading__three{
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
                div{
                    flex-direction: row;
                    margin-top: 0.8rem;
                    p{
                        font-size: 1.1rem;
                        font-weight: 700;
                        line-height: 1.5rem;
                    }
                    p:nth-child(2){
                        font-family: $font-secondary;
                        margin: 0 0.5rem 0;
                    }
                }
            }
        }
    }
}