.news{
    align-items: center;
    margin-top: 32px;
    padding: 10px 16px 40px;
    position: relative;
    &__taghead{
        left: 16px;
        p{
            span{
                color: #FF742B;
            }
        }
    }
    &__taghead::before{
        background-color: #FF742B;
        content: "";
        height: 1px;
        left: -17px;
        position: absolute;
        top: 16px;
        width: 16px;
    }
    &__principal{
        margin: 31px 0 20px;
        &--image{
            position: relative;
            img{
                height: auto;
                width: 100%;
            }
        }
        &--image:before{
            content: "\e90c";
            font-family: "iconFont";
            font-size: 10px;
            height: 24px;
            padding: 4px 4px;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 24px;
        }
        &--content{ 
            margin-top: 8px;
            width: 95%;
            p{
                font-family: 'Poppins';
                margin-top: 10px;
            }
        }
    }
    &__plus{
        position: relative;
        width: 100%;
        &--item{
            display: flex;
            flex-direction: row;
            padding: 12px 0;
        }
        &--item:nth-child(2){
            span::before{
                border: none;
                content: "\e90d";
                font-size: 8px;
                height: 18px;
                left: 0;
                padding: 4px 7px;
                position: absolute;
                top: 0px;
                width: 18px;
            }
            h4{
                margin-left: 24px;
            }
        }
        &--image{
            img{
                border-radius: 4px;
                object-fit: cover;
            }
        }
        &--info{
            margin-left: 10px;
        }
        &--tagdate{
            margin-top: 0;
        }
        &--content{
            margin-top: 8px;
            position: relative;
        }
    }
    &__button{
        margin: 30px 0 10px;
    }
    &__slider{
        margin: 0 auto;
        width: 302px;
        &--item{
            position: relative;
            .tag{
                background-color: #609FEE;
                font-family: 'Poppins';
                font-size: 14px;
                font-weight: 500;
                left: 16px;
                padding: 8px 9px;
                position: absolute;
                top:16px
            }
        }
        &--background{
            border-radius: 4px;
            height: auto;
            width: 100%;
        }
        &--content{
            position: absolute;
            bottom: 50px;
            left: 16px;
            h3{
                color: #FFFFFF;
                font-family: 'Poppins';
                font-weight: 700;
                line-height: 24px;
                margin-top: 8px;
            }
            div{
                display: flex;
                flex-direction: row;
                margin-top: 8px;
                p{
                    color: #FFFFFF;
                    font-size: 11px;
                    font-weight: 700;
                    line-height: 15px;
                }
                p:nth-child(2){
                    color: #FFFFFF;
                    font-family: 'Poppins';
                    font-weight: 400;
                    margin-left: 5px;
                }
            }
        }
        .slick-dots{
            bottom: 12px;
            li{
                margin: 0 1px;
                button{
                    color: #FFFFFF;
                }
                button::before{
                    color: #FFFFFF;
                    font-size: 10px;
                    opacity: 1;
                }
            }
            .slick-active{
                button::before{
                    color: #FF9D00;
                    font-size: 14px;
                }
            }
        }
    }
}
.news::before {
    background: url(../../image/news-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 226px;
    left: 0px;
    position: absolute;
    bottom: -170px;
    width: 100%;
    z-index: 1;
}
@include mq-min(md){
    .news{
        margin-top: 100px;
        padding: 1px 26px 20px;
        position: relative;
        &__taghead{
            left: 48px;
            p{
                font-size: 24px;
                font-weight: 700;
                line-height: 32px;
            }
        }
        &__taghead::before{
            left: -49px;
            width: 48px;
        }
        &__principal{
            margin-bottom: 5px;
            padding-top: 20px;
            &--image:before{
                font-size: 26px;
                height: 55px;
                padding: 8px 10px;
                right: 23px;
                top: 23px;
                width: 55px;
            }
            &--tagdate{
                margin-left: 0;
            }
            &--content{
                margin-left: 0;
            }
        }
        &__plus{
            display: flex;
            flex-direction: row;
            width: 77%;
            &--item{
                flex-direction: column;
                margin-right: 24px;
                width: 48%;
                h3{
                    margin:2px 0;
                    width: 220px;
                }
            }
            &--image{
                position: relative;
                img{
                    border-radius: 4px;
                    height: auto;
                    object-fit: cover;
                    width: 100%;
                }
            }
            &--image::before{
                border: none;
                content: "\e90d";
                font-size: 12px;
                height: 24px;
                padding: 3px 8px ;
                position: absolute;
                right: 10px;
                top: 10px;
                width: 24px;
            }
            &--info{
                margin-left: 0;
            }
            &--item:nth-child(2){
                div::before{
                    display: none;
                }
                span::before{
                    display: none;
                }
                h4{
                    margin-left: 0;
                }
            }
            &--item:nth-child(3){
                display: none;
            }
        }
        &__button{
            margin: 30px 0 10px;
            a{
                font-size: 16px;
            }
            a::after{
                font-size: 20px;
                margin-bottom: 2px;
            }
        }
        &__slider{
            bottom: 44px;
            position: absolute;
            right: 30px;
            width: 160px;
            &--item{
                .tag{
                    font-size: 12px;
                    padding: 4px 9px;
                }
            }
            &--background{
                img{
                    height: 282px;
                    width: 160px;
                }
            }
            &--logo{
                img{
                    height: auto;
                    width: 33px;
                }
            }
            &--content{
                position: absolute;
                bottom: 50px;
                left: 16px;
                h3{
                    font-size: 12px;
                    line-height: 15px;
                }
                div{
                    flex-direction: column;
                    margin-top: 20px;
                    p{
                        font-size: 8px;
                        font-weight: 700;
                        line-height: 10px;
                    }
                    p:nth-child(2){
                        font-family: $font-primary;
                        font-weight: 400;
                        margin: 4px 0 0;
                    }
                }
            }
        }
    }
    .news::before {
        background: url(../../image/news-background-tablet.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 156px;
        left: 0px;
        position: absolute;
        bottom: -96px;
        width: 100%;
        z-index: 1;
    }
}

@include mq-min(lg){
    .news{
        &__slider{
            bottom: 80px;
        }
    }
}
@include mq-min(xl){
    .news{
        margin-bottom: 130px;
        padding: 2px 50px 20px;
        position: relative;
        &__taghead{
            left: 44px;
            padding: 6px 16px;
            top: -32px;
            
        }
        &__taghead::before{
            left: -46px;
            top: 23px;
            width: 45px;
        }
        &__principal{
            display: flex;
            flex-direction: row;
            &--image{
                width: 100%;
            }
            &--image:before{
                height: 58px;
                padding: 8px 11px;
                right: 24px;
                top: 24px;
                width: 58px;
            }
            &--contain{
                margin-top: 20px;
                padding-left: 39px;
                width: 71%; 
            }
            &--tagdate{
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                margin-top: 0;
            }
            &--date{
                margin-left: 0;
            }
            &--content{
                margin-top: -1px;
                h3{
                    font-size: 24px;
                    line-height: 32px;
                }
                p{
                    margin-top: 15px;
                }
            }
        }
        &__plus{
            width: 82%;
            position: relative;
            &--item:nth-child(3){
                display: block;
            }
        }
        &__slider{
            bottom: 36px;
            right: 50px;
        }
    }
    .news::before {
        background: url(../../image/news-background-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 160px;
        left: 0px;
        position: absolute;
        bottom: -225px;
        width: 100%;
        z-index: 1;
    }
}
@include mq-min(xb){
    .news{
        &__plus{
            width: 76%;
            &--item{
                width: 31%;
            }
        }
        &__slider{
            bottom: -104px;
            width: 300px;
            &--item{
                .tag{
                    font-size: 14px;
                    padding: 8px 9px;
                }
            }
            &--background{ 
                img{
                    height: 460px;
                    width: 300px;
                }
            }
            &--logo{
                img{
                    height: auto;
                    width: 61px;
                }
            }
            &--content{
                h3{
                    font-size: 16px;
                    line-height: 24px;
                }
                div{
                    flex-direction: row;
                    margin-top: 20px;
                    p{
                        font-size: 11px;
                        font-weight: 700;
                        line-height: 15px;
                    }
                    p:nth-child(2){
                        font-family: 'Poppins';
                        margin: 0 5px 0;
                    }
                }
            }
        }
    }
}
@include mq-min(xxl){
    .news{
        &__plus{
            &--item{
                width: 33.3%;
            }
        }
        &__slider{
            bottom: -16px;
            &--item{
                .tag{
                    font-size: 14px;
                    padding: 8px 9px;
                }
            }
            &--background{ 
                img{
                    height: 460px;
                    width: 300px;
                }
            }
            &--logo{
                img{
                    height: auto;
                    width: 61px;
                }
            }
            &--content{
                h3{
                    font-size: 16px;
                    line-height: 24px;
                }
                div{
                    flex-direction: row;
                    margin-top: 8px;
                    p{
                        font-size: 11px;
                        font-weight: 700;
                        line-height: 15px;
                    }
                    p:nth-child(2){
                        font-family: 'Poppins';
                        margin: 0 5px 0;
                    }
                }
            }
        }
    }
}