.programs{
    margin-top: 6rem;
    position: relative;
    padding: 3rem 0 0;
    &__taghead{
        border-color: #3F9891;
        left: 1.6rem;
        padding: 0.3rem 1.8rem;
        .heading__two{
            span{
                color: #3F9891;
            }
        }
    }
    &__taghead::before{
        background-color: #3F9891;
        left: -1.7rem;
        width: 1.6rem;
    }
    &__slider{
        background-color: #F4F4F4;
        margin-left: -0.8rem;
        padding: 1.6rem 0 5.3rem 0;
        &--item{
            background-color: #FFFFFF;
            border-radius: 0 0 0.8rem 0.8rem;
            margin-left: 1.6rem;
            padding: 0.8rem 0.8rem 1.6rem 0.8rem;
            picture{
                img{
                    height: auto;
                    width: 100%;
                } 
            }
            .heading__three{
                margin-top: 0.4rem;
            }
            p{
                font-family: $font-secondary;
                font-size: 1.2rem;
                line-height: 1.7rem;
                margin-top: 0.8rem;
            }
        }
        .slick-dots{
            bottom: 1.6rem;
            li{
                margin: 0 0.1rem;
                button::before{
                    color: #D8D8D8;
                    font-size: 1rem;
                    opacity: 1;
                }
            }
            .slick-active{
                button::before{
                    color: #9518B9;
                    font-size: 1.4rem;
                }
            }
        }
    }
}
@include mq-min(md){
    .programs{
        margin-top: 5rem;
        padding: 4rem 0 0;
        &__taghead{
            left: 4.7rem;
            padding: 0.3rem 2.7rem;
            .heading__two{
                font-size: 2rem;
                line-height: 2.6rem;
            }
        }
        &__taghead::before{
            left: -4.8rem;
            top: 1.5rem;
            width: 4.7rem;
        }
        &__slider{
            padding: 4.9rem 2.4rem 8rem 0.7rem;
            z-index: 1;
            &--item{
                margin-left: 2.4rem;
                .heading__three{
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    font-weight: 600;
                }
            }
            .slick-current{
                background-color: wheat;
            }
            .slick-arrow{
                top: 39.8%;
                z-index: 2;
            }
            .slick-arrow::before{
                background-color: #20334E;
                border-radius: 100%;
                color: #FFFFFF;
                font-family: 'iconFont';
                font-size: 2.4rem;
                opacity: 1;
            }
            .slick-prev{
                left: 2.6rem;
            }
            .slick-prev::before {
                content: "\e90e";
                padding: 0.6rem 1.2rem 0.6rem 1rem;
            }
            .slick-next{
                right: 3.7rem;
            }
            .slick-next::before{
                content: "\e90f";
                padding: 0.6rem 1rem 0.6rem 1.2rem;
            }
            .slick-dots{
                bottom: 0.9rem;
            }
        }
    }
}
@include mq-min(xl){
    .programs{
        &__slider{
            .slick-dots{
                bottom: 2.6rem;
            }
        }
    }

}
@include mq-min(xb){
    .programs{
        padding: 3rem 0 0;
        &__taghead{
            padding: 0.8rem 2.9rem;
            .heading__two{
                font-size: 2.4rem;
                font-weight: 700;
            }
        }
        &__taghead::before{
            top: 1.9rem;
        }
        &__container{
            background-color: #F4F4F4;
            margin-top: 1rem;
        }
        &__slider{
            padding: 5rem 9.4rem 9.4rem 7rem;
            margin: 0 auto;
            width: 128rem;
            &--item{
                margin-left: 1.4rem;
            }
            .slick-prev{
                left: 3.6rem;
            }
            .slick-next{
                right: 4.5rem;
            }
            .slick-dots{
                bottom: 1.8rem;
            }
        }
    }
}