.recent{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 49px;
    padding: 0 16px 20px;
    position: relative;
    &__principal{
        margin-top: 34px;
        &--image{
            img{
                height: auto;
                object-fit: cover;
                width: 100%;
            }
        }
        &--content{
            margin-top: 8px;
            width: 95%;
            h3{
                span{
                    background-color: #FCC690;
                }
            }
            p{
                margin-top: 8px;
            }
        }
    }
    &__plus{
        width: 100%;
        &--item{
            padding: 8px 0;
            .icon::before{
                background-color: #FF9D00;
                border-radius: 50%;
                content: "\e90d";
                color: #FFFFFF;
                font-size: 8px;
                height: 18px;
                left: 0;
                padding: 4px 7px;
                position: absolute;
                top: 0px;
                width: 18px;
            }
            h4{
                margin: 8px 0 8px 28px;
                position: relative;
            }
        }
        &--item:first-child{
            border-bottom: solid 1px #E7E7E7;
            .icon::before{
                display: none;
            }
            h4{
                margin-left: 0;
            }
        }
        &--item:nth-child(3){
            display: none;
        }
        &--content{
            position: relative;
        }
    }
}
@include mq-min(md){
    .recent{
        margin-top: 60px;
        padding-bottom: 40px;
        &__principal{
            border-bottom: solid 1px #E7E7E7;
            margin-top: 50px;
            padding-bottom: 15px;
            &--tagdate{
                margin-left: 16px;
            }
            &--date{
                font-size: 14px;
            }
            &--content{
                margin-left: 16px;
                p{
                    padding-right: 18px;
                }
            }
        }
        &__plus{
            display: flex;
            flex-direction: row;
            padding-right: 10px;
            &--tagdate{
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                p:nth-child(2){
                    margin-left: 0;
                }
            }
            &--item{
                padding-right: 20px;
                .icon::before{
                    display: none;
                }
                h4{
                    margin-left: 16px;
                }
            }
            &--item:first-child{
                border-bottom: none;
                h4{
                    margin-left: 16px;
                }
            }
            &--item:nth-child(3){
                display: flex;
                flex-direction: column;
            }
        }
    }
}
@include mq-min(xl){
    .recent{
        flex-direction: row;
        padding: 0 47px 40px;
        align-items: flex-start;
        &__tag{
            height: 40px;
            left: 48px;
            width: 242px;
            p{
                font-size: 24px;
                font-weight: 700;
            }
        }
        &__principal{
            margin-top: 50px;
            &--tagdate{
                margin-left: 8px;
            }
            &--content{
                margin-left: 8px;
            }
        }
        &__plus{
            &--tagdate{
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                p:nth-child(2){
                    font-size: 11px;
                    margin-left: 0;
                }
            }
            &--item{
                padding-right: 20px;
                h4{
                    margin-left: 8px;
                }
            }
            &--item:first-child{
                h4{
                    margin-left: 8px;
                }
            }
        }
    }
}