.recent{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5.2rem;
    padding: 0 1.6rem 2rem;
    position: relative;
    &__container{
        margin-top: -0.4rem;
    }
    &__tag{
        padding: 0.3rem 1.8rem;
    }
    &__principal{
        margin-top: 3.4rem;
        &--image{
            img{
                height: auto;
                object-fit: cover;
                width: 100%;
            }
        }
        &--content{
            margin-top: 0.8rem;
            .heading__three{
                letter-spacing: 0.03rem;
                span{
                    background-color: #FCC690;
                }
            }
            p{
                font-family: $font-secondary;
                margin-top: 1.2rem;
                padding-right: 1rem;
            }
        }
    }
    &__plus{
        width: 100%;
        &--item{
            padding: 0.8rem 0;
            .icon::before{
                background-color: #FF9D00;
                border-radius: 50%;
                content: "\e90d";
                color: #FFFFFF;
                font-size: 0.8rem;
                height: 2.2rem;
                left: -0.1rem;
                padding: 0.4rem 0.7rem;
                position: absolute;
                top: -0.2rem;
                width: 2.2rem;
            }
            .heading__four{
                margin: 0.8rem 0 0.8rem 2.5rem;
                position: relative;
            }
        }
        &--tagdate{
            margin-top: 0.8rem;
        }
        &--date{
            margin-top: -0.2rem;
        }
        &--item:first-child{
            border-bottom: solid 0.1rem #E7E7E7;
            .icon::before{
                display: none;
            }
            .heading__four{
                margin-left: 0;
            }
        }
        &--item:nth-child(3){
            display: none;
        }
        &--content{
            position: relative;
        }
    }
}
@include mq-min(md){
    .recent{
        margin-top: 6.4rem;
        padding: 0 2.4rem 4rem;
        &__tag{
            padding: 0.3rem 2.7rem;
        }
        &__principal{
            border-bottom: solid 0.1rem #E7E7E7;
            margin-top: 5rem;
            padding-bottom: 1.6rem;
            &--tagdate{
                margin-left: 1.6rem;
            }
            &--date{
                font-size: 1.4rem;
                margin-left: 0.5rem;
            }
            &--content{
                margin-left: 1.6rem;
                .heading__three{
                    letter-spacing: 0.1rem;
                }
                p{
                    margin-top: 0.9rem;
                    padding-right: 1.8rem;
                }
            }
        }
        &__plus{
            display: flex;
            flex-direction: row;
            padding: 0 1rem 0 0.7rem;
            &--tagdate{
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                p:nth-child(2){
                    margin-left: 0;
                }
            }
            &--item{
                margin-left: 0.3rem;
                padding:0.8rem  1.5prem;
                width: 33%;
                .icon::before{
                    display: none;
                }
                .heading__four{
                    margin-left: 0;
                }
            }
            &--tagdate{
                p{
                    margin-top: 0.4rem;
                } 
            }
            &--item:first-child{
                border-bottom: none;
            }
            &--item:nth-child(3){
                display: flex;
                flex-direction: column;
            }
        }
    }
}
@include mq-min(xl){
    .recent{
        flex-direction: row;
        padding: 0 4.7rem 4rem;
        align-items: flex-start;
        &__container{
            margin-top: 1rem;
            width: 63%;
        }
        &__tag{
            left: 4rem;
            padding: 0.5rem 2.7rem;
            top:  -2.3rem;
            p{
                font-size: 2.4rem;
                font-weight: 700;
            }
        }
        &__tag::before{
            top: 2.1rem;
        }
        &__principal{
            &--image{
                img{
                    width: 95.5%;
                }
            }
            &--tagdate{
                margin-left: 0.8rem;
            }
            &--content{
                margin: 1.5rem 0 0 0.8rem;
                width: 90%;
                p{
                    margin-top: 1.8rem;
                }
            }
        }
        &__plus{
            margin: -0.4rem 0 0 0.3rem;
            padding: 0;
            width: 78%;
            &--item{
                margin-right: 4.2rem;
                padding: 1rem 0 0 0;
            }
            &--content{
                .heading__four{
                    margin-right: 5.2rem;
                    width: 15rem;
                }
            }
        }
    }
}
@include mq-min(xb){
    .recent{
        &__container{
            width: 69%;
        }
        &__principal{
            &--content{
                width: 98%;
            }
        }
        &__plus{
            width: 100%;
            &--content{
                .heading__four{
                    width: 19.6rem;
                }
            }
        }
    }
}