.seencolumns{
    background-color: #F4F4F4;
    margin-top: 50px;
    padding: 0 0 39px;
    position: relative;
    z-index: 4;
    h2{
        color: #20334E;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 23px;
        position: relative;
        text-align: center;
        z-index: 2;
        span{
            color: #FF742B;
        }
    }
    &__contain{
        padding: 0 16px;
        &--item{
            align-items: center;
            background-color: #FFFFFF;
            border-radius: 8px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: row;
            height: 88px;
            margin-bottom: 16px;
            padding: 8px 16px;
            p:first-child{
                color: #F06D6D;
                font-size: 48px;
                font-weight: 700;
                line-height: 60px;
                margin-right: 16px;
            }
            div{
                display: flex;
                flex-direction: column;
               .tag{
                    background-color: #609FEE;
                    font-weight: 600;
               }
               p{
                    font-size: 12px;
                    line-height: 15px;
                    margin-top: 4px;
               }
            }
        }
    }
}
.seencolumns::before{
    background: url(./../image/news-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 226px;
    left: 0px;
    position: absolute;
    top: -112px;
    width: 100%;
    z-index: -1;
}
@include mq-min(md){
    .seencolumns{
        margin-top: 10px;
        &__contain{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 0 51px;
            h2{
                font-size: 32px;
                line-height: 40px;
                span{
                    color: #FF742B;
                }
            }
            &--item{
                grid-column: 1;
                padding: 17px 24px;
                p:first-child{
                    font-size: 60px;
                    line-height: 75px;
                }
                div{
                    p{
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 600;
                        width: 97%;
                    }
                    p:first-child{
                        margin-bottom: 8px;
                    }
                }
            }
            &--item:nth-child(4){
                grid-column: 1 /3;
            }
            &--item:nth-child(5){
                grid-row: 5;
            }
        }
    }
    .seencolumns::before{
        background: url(./../image/news-background-tablet.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 156px;
        left: 0px;
        position: absolute;
        top: -96px;
        width: 100%;
        z-index: -1;
    }
}
@include mq-min(xl){
    .seencolumns{
        padding: 0 0 64px;
    }
    .seencolumns::before{
        background: url(./../image/news-background-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 160px;
        left: 0px;
        position: absolute;
        top: -80px;
        width: 100%;
        z-index: 1;
    }
}
