.seencolumns{
    background-color: #F4F4F4;
    margin-top: 50px;
    padding: 0 0 40px;
    position: relative;
    z-index: 2;
    .heading__two{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 23px;
        padding-top: 5px;
        position: relative;
        text-align: center;
        z-index: 2;
        span{
            color: #FF742B;
        }
    }
    &__contain{
        padding: 0 16px;
        &--item{
            align-items: center;
            background-color: #FFFFFF;
            border-radius: 8px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: row;
            margin-bottom: 16px;
            padding: 6px 16px 10px;
            p:first-child{
                color: #F06D6D;
                font-size: 48px;
                font-weight: 700;
                line-height: 60px;
                margin-right: 19px;
                width: 30px;
            }
            div{
                display: flex;
                flex-direction: column;
               .tag{
                    background-color: #609FEE;
                    font-weight: 600;
               }
               p{
                    font-size: 12px;
                    height: 45px;
                    line-height: 15px;
                    margin-top: 4px;
               }
            }
        }
    }
}
.seencolumns::before{
    background: url(./../image/news-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 226px;
    left: 0px;
    position: absolute;
    top: -98px;
    width: 100%;
    z-index: -1;
}
@include mq-min(md){
    .seencolumns{
        margin-top: 10px;
        padding: 0 0 42px;
        .heading__two{
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 26px;
            padding-top: 3.2rem;
            span{
                color: #FF742B;
            }
        }
        &__contain{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 51px;
            &--item{
                padding: 6px 24px;
                width: 100%;
                p:first-child{
                    font-size: 60px;
                    line-height: 75px;
                }
                div{
                    width: 88%;
                    a{
                        margin-bottom: 6px;
                    }
                    p{
                        font-size: 16px;
                        height: auto;
                        line-height: 20px;
                        font-weight: 600;
                    }
                    p:first-child{
                        margin-bottom: 8px;
                    }
                }
            }
            &--item:nth-child(2){
                padding: 17px 24px;
            }
            &--item:nth-child(3){
                padding: 17px 24px;
            }
            &--item:nth-child(4){
                padding: 8px 18px 25px;
                width: 48%;
               p:first-child{
                margin-top: 24px;
               }
               div{
                    p{
                        font-size: 14px;
                        line-height: 18px;
                        margin-top: 2px;
                    }
                    p:first-child{
                        margin-bottom: 8px;
                    }
                }
            }
            &--item:nth-child(5){
                flex-basis: 47%;
                padding: 8px 18px 25px;
                width: 48%;
               p:first-child{
                margin-top: 24px;
               }
               div{
                width: 77%;
                    p{
                        font-size: 14px;
                        line-height: 18px;
                        margin-top: 2px;
                    }
                    p:first-child{
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
    .seencolumns::before{
        background: url(./../image/news-background-tablet.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 156px;
        left: 0px;
        position: absolute;
        top: -94px;
        width: 100%;
        z-index: -1;
    }
}
@include mq-min(xl){
    .seencolumns::before{
        background: url(./../image/news-background-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 160px;
        left: 0px;
        position: absolute;
        top: -62px;
        width: 100%;
        z-index: 1;
    }
}
 @include mq-min(xb){
    .seencolumns{
        margin-top: 18rem;
        padding: 0 0 6.6rem;
        .heading__two{
            font-size: 3.6rem;
            line-height: 4.5rem;
            padding-top: 6rem;
        }
        &__contain{
            margin: 0 auto;
            padding: 1rem 0 0;
            width: 1056px;
            &--item{
                flex-basis: 49%;
                div{
                    width: 84%;
                    p{
                        font-size: 20px;
                        line-height: 26px;
                    }
                }
            }
            &--item:first-child{
                padding: 12px 24px 35px;
                p:first-child{
                    margin-top: 22px;
                }
            }
            &--item:nth-child(3){
                flex-basis: 32.2%;
                padding: 8px 18px 25px;
                p:first-child{
                    margin-top: 24px;
                }
                div{
                width: 77%;
                    p{
                        font-size: 14px;
                        line-height: 18px;
                        margin-top: 2px;
                    }
                    p:first-child{
                        margin-bottom: 8px;
                    }
                }
            }
            &--item:nth-child(4){
                flex-basis: 32.2%;
            }
            &--item:nth-child(5){
                flex-basis: 32.2%;
            }
        }
    }
 }
