.show{
    padding: 0 1.6rem 1rem;
    &__principal{
        &--image{
            position: relative;
            img{
                border-radius: 0.4rem;
                height: auto;
                width: 100%;
            }
        }
        &--image::before{
            background-color: #C657E6;
            border: 0.1rem solid #FFFFFF;
            content: "\e90d";
            font-size: 1.4rem;
            height: 2.6rem;
            padding: 0.3rem 0.8rem;
            position: absolute;
            right: 0.5rem;
            top: 1.1rem;
            width: 2.6rem;
        }
        &--tagdate{
            a:first-child{
                background-color: #9518B9;
            }
        }
        &--content{
            margin-top: 0.8rem;
            width: 95%;
            p{
                margin-top: 1rem;
            }
        }
    }
    &__plus{
        margin-top: 2.6rem;
        width: 100%;
        &--item{
            display: flex;
            flex-direction: row;
            padding: 0.9rem 0;
        }
        &--image{
            img{
                border-radius: 0.4rem;
                object-fit: cover;
            }
        }
        &--info{
            margin-left: 1rem;
        }
        &--tagdate{
            margin-top: 0;
        }
        &--content{
            margin-top: 0.8rem;
            position: relative;
            .icon::before{
                content: "\e90d";
                font-size: 0.8rem;
                height: 2.2rem;
                left: -0.2rem;
                padding: 0.3rem 0.6rem;
                position: absolute;
                top: -0.1rem;
                width: 2.2rem;
            }
            .heading__four{
                margin-left: 2.4rem;
            }
        }
        &--item:first-child{
            .tag{
                background-color: #9518B9;
            }
            .icon::before{
                background-color: #C657E6;
            }
        }
        &--item:nth-child(2){
            .icon::before{
                display: none;
            }
            .heading__four{
                margin-left: 0;
            }
        }
        &--item:nth-child(3){
            .icon::before{
                content: "\e90c";
                padding: 0.3rem 0.3rem 0;
            }
        }
    }
    &__button{
        margin-top: 1rem;
        a{
            padding: 0 2rem;
        }
        a:after{
            font-size: 2rem;
            margin-bottom: 0.2rem;
        }
    }
}
@include mq-min(md){
    .show{
        padding: 1rem 2.3rem 2rem;
        &__principal{
            &--image{
                img{
                    border-radius: 0.8rem;
                }
            }
            &--image::before{
                border: 0.2rem solid #FFFFFF;
                font-size: 3rem;
                height: 5.5rem;
                padding: 0.3rem 1.8rem;
                right: 2.3rem;
                top: 2.3rem;
                width: 5.5rem;
            }
            &--tagdate{
               margin: 0.9rem 0 0;
            }
            &--date{
                font-size: 1.4rem;
            }
            &--content{
                margin-left: 0;
                .heading__three{
                    span{
                        background-color: #78BFBA;
                        color: #FFFFFF;
                        padding: 0 0.5rem;
                    }
                }
                p{
                    margin-top: 0.7rem;
                }
            }
        }
        &__plus{
            flex-direction: column;
            margin-top: 3.8rem;
            width: 50%;
            &--item{
                padding: 0.9rem 0 1.8rem;
            }
            &--item:first-child{
                .icon::before{
                    background-color: #C657E6;
                }
            }
            &--item:nth-child(2){
                .icon::before{
                    display: block;
                }
                .heading__four{
                    margin-left: 2.4rem;
                }
            }
        }
        &__button{
            margin: 3.9rem 0.4rem 0 0;
            a{
                font-size: 1.6rem;
                padding: 0.6rem 4.8rem;
                position: relative;
            }
            a::after{
                font-size: 3rem;
                font-weight: 100;
                position: absolute;
                right: 1.6rem;
                top: -0.6rem;
            }
        }
    }
}
@include mq-min(xl){
    .show{
        padding: 0.8rem 4.7rem;
        &__principal{
            display: flex;
            flex-direction: row;
            &--image{
                width: 100%;
            }
            &--image::before{
                height: 5.8rem;
                padding: 0.5rem 2rem;
                right: 2.1rem;
                top: 2.4rem;
                width: 5.8rem;
            }
            &--contain{
                padding: 2.2rem 3.9rem;
                width: 80%;
            }
            &--tagdate{
                align-items: flex-start;
                margin-top: 0;
                flex-direction: column;
            }
            &--date{
                margin: 0.5rem 0 0;
            }
            &--content{
                margin-top: 1.3rem;
                width: 100%;
                p{
                    margin-top: 1.9rem;
                }
            }
        }
        &__plus{
            display: flex;
            flex-direction: row;
            margin-top: 2.5rem;
            width: 77%;
            &--item{
                flex-direction: column;
                margin-right: 2.4rem;
            }
            &--image{
                position: relative; 
                img{
                    height: auto;
                    width: 100%;
                }
            }
            &--info{
                margin-left: 0;
            }
            &--content{
                .icon::before{
                    display: none;
                }
                .heading__four{
                    margin-left: 0;
                }
            }
            &--item:nth-child(2){
                .icon::before{
                    display: none;
                }
                .heading__four{
                    margin-left: 0;
                }
            }
        }
        &__button{
            margin: 1rem -1.6rem 0 0;
            a{
            }
        }
    }
}
@include mq-min(xb){
    .show{
        padding: 0.8rem 4.7rem;
        &__principal{
            &--contain{
                width: 69%;
            }
        }
    }
}