.show{
    padding: 10px 16px;
    &__principal{
        &--image{
            position: relative;
            img{
                border-radius: 4px;
                height: auto;
                width: 100%;
            }
        }
        &--image::before{
            background-color: #C657E6;
            border: 1px solid #FFFFFF;
            content: "\e90d";
            font-size: 14px;
            height: 26px;
            padding: 3px 8px;
            position: absolute;
            right: 11px;
            top: 11px;
            width: 26px;
        }
        &--tagdate{
            a:first-child{
                background-color: #9518B9;
            }
        }
        &--content{
            margin-top: 8px;
            width: 95%;
        }
    }
    &__plus{
        width: 100%;
        &--item{
            display: flex;
            flex-direction: row;
            padding: 12px 0;
        }
        &--image{
            img{
                border-radius: 4px;
                object-fit: cover;
            }
        }
        &--info{
            margin-left: 10px;
        }
        &--tagdate{
            margin-top: 0;
        }
        &--content{
            margin-top: 8px;
            position: relative;
            .icon::before{
                content: "\e90d";
                font-size: 8px;
                height: 20px;
                left: 0;
                padding: 3px 6px;
                position: absolute;
                top: -1px;
                width: 20px;
            }
            h4{
                margin-left: 24px;
            }
        }
        &--item:first-child{
            .tag{
                background-color: #9518B9;
            }
        }
        &--item:nth-child(2){
            .icon::before{
                display: none;
            }
            h4{
                margin-left: 0;
            }
        }
        &--item:nth-child(3){
            .icon::before{
                content: "\e90c";
                padding: 3px 3px 0;
            }
        }
    }
    &__button{
        margin-top: 40px;
        a{
            border: solid 1px #FF742B;
            color: #FF742B;
        }
        a:after{
            font-size: 20px;
            margin-bottom: 2px;
        }
    }
}
@include mq-min(md){
    .show{
        padding: 20px 23px;
        &__principal{
            &--image{
                img{
                    border-radius: 8px;
                }
            }
            &--image::before{
                border: 2px solid #FFFFFF;
                font-size: 30px;
                height: 55px;
                padding: 3px 18px;
                right: 23px;
                top: 23px;
                width: 55px;
            }
            &--tagdate{
                margin-left: 0;
            }
            &--content{
                margin-left: 0;
                h3{
                    span{
                        background-color: #78BFBA;
                        color: #FFFFFF;
                        padding: 0 5px;
                    }
                }
            }
        }
        &__plus{
            flex-direction: column;
            margin-top: 12px;
            width: 50%;
            &--item{
                margin: 14px 0;
            }
            &--item:first-child{
                .icon::before{
                    background-color: #C657E6;
                }
            }
            &--item:nth-child(2){
                .icon::before{
                    display: block;
                }
                h4{
                    margin-left: 24px;
                }
            }
        }
    }
}
@include mq-min(xl){
    .show{
        padding: 40px 47px;
        &__principal{
            display: flex;
            flex-direction: row;
            &--image{
                width: 100%;
            }
            &--image::before{
                height: 58px;
                padding: 5px 20px;
                right: 24px;
                top: 24px;
                width: 58px;
            }
            &--contain{
                padding: 14px 39px;
                width: 69%;
            }
            &--tagdate{
                margin-top: 0;
            }
        }
        &__plus{
            display: flex;
            flex-direction: row;
            margin-top: 4px;
            width: 77%;
            &--item{
                flex-direction: column;
                margin-right: 24px;
            }
            &--image{
                position: relative; 
                img{
                    height: auto;
                    width: 100%;
                }
            }
            &--info{
                margin-left: 0;
            }
            &--content{
                .icon::before{
                    display: none;
                }
                h4{
                    margin-left: 0;
                }
            }
            &--item:nth-child(2){
                .icon::before{
                    display: none;
                }
                h4{
                    margin-left: 0;
                }
            }
        }
        &__button{
            margin-top: 0;
        }
    }
}