.show{
    padding: 0 16px 10px;
    &__principal{
        &--image{
            position: relative;
            img{
                border-radius: 4px;
                height: auto;
                width: 100%;
            }
        }
        &--image::before{
            background-color: #C657E6;
            border: 1px solid #FFFFFF;
            content: "\e90d";
            font-size: 14px;
            height: 26px;
            padding: 3px 8px;
            position: absolute;
            right: 0.5rem;
            top: 11px;
            width: 26px;
        }
        &--tagdate{
            a:first-child{
                background-color: #9518B9;
            }
        }
        &--content{
            margin-top: 8px;
            width: 95%;
            p{
                margin-top: 10px;
            }
        }
    }
    &__plus{
        margin-top: 2.6rem;
        width: 100%;
        &--item{
            display: flex;
            flex-direction: row;
            padding: 9px 0;
        }
        &--image{
            img{
                border-radius: 4px;
                object-fit: cover;
            }
        }
        &--info{
            margin-left: 10px;
        }
        &--tagdate{
            margin-top: 0;
        }
        &--content{
            margin-top: 8px;
            position: relative;
            .icon::before{
                content: "\e90d";
                font-size: 8px;
                height: 22px;
                left: -2px;
                padding: 3px 6px;
                position: absolute;
                top: -1px;
                width: 22px;
            }
            .heading__four{
                margin-left: 24px;
            }
        }
        &--item:first-child{
            .tag{
                background-color: #9518B9;
            }
            .icon::before{
                background-color: #C657E6;
            }
        }
        &--item:nth-child(2){
            .icon::before{
                display: none;
            }
            .heading__four{
                margin-left: 0;
            }
        }
        &--item:nth-child(3){
            .icon::before{
                content: "\e90c";
                padding: 3px 3px 0;
            }
        }
    }
    &__button{
        margin-top: 10px;
        a{
            padding: 0 2rem;
        }
        a:after{
            font-size: 20px;
            margin-bottom: 2px;
        }
    }
}
@include mq-min(md){
    .show{
        padding: 1rem 23px 2rem;
        &__principal{
            &--image{
                img{
                    border-radius: 8px;
                }
            }
            &--image::before{
                border: 2px solid #FFFFFF;
                font-size: 30px;
                height: 55px;
                padding: 3px 18px;
                right: 23px;
                top: 23px;
                width: 55px;
            }
            &--tagdate{
               margin: 9px 0 0;
            }
            &--date{
                font-size: 14px;
            }
            &--content{
                margin-left: 0;
                .heading__three{
                    span{
                        background-color: #78BFBA;
                        color: #FFFFFF;
                        padding: 0 5px;
                    }
                }
                p{
                    margin-top: 7px;
                }
            }
        }
        &__plus{
            flex-direction: column;
            margin-top: 3.8rem;
            width: 50%;
            &--item{
                padding: 0.9rem 0 1.8rem;
            }
            &--item:first-child{
                .icon::before{
                    background-color: #C657E6;
                }
            }
            &--item:nth-child(2){
                .icon::before{
                    display: block;
                }
                .heading__four{
                    margin-left: 24px;
                }
            }
        }
        &__button{
            margin: 3.9rem 0.4rem 0 0;
            a{
                font-size: 1.6rem;
                padding: 0.6rem 4.8rem;
                position: relative;
            }
            a::after{
                font-size: 30px;
                font-weight: 100;
                position: absolute;
                right: 16px;
                top: -6px;
            }
        }
    }
}
@include mq-min(xl){
    .show{
        padding: 8px 47px;
        &__principal{
            display: flex;
            flex-direction: row;
            &--image{
                width: 100%;
            }
            &--image::before{
                height: 58px;
                padding: 5px 20px;
                right: 21px;
                top: 24px;
                width: 58px;
            }
            &--contain{
                padding: 2.2rem 39px;
                width: 80%;
            }
            &--tagdate{
                align-items: flex-start;
                margin-top: 0;
                flex-direction: column;
            }
            &--date{
                margin: 0.5rem 0 0;
            }
            &--content{
                margin-top: 1.3rem;
                width: 100%;
                p{
                    margin-top: 1.9rem;
                }
            }
        }
        &__plus{
            display: flex;
            flex-direction: row;
            margin-top: 2.5rem;
            width: 77%;
            &--item{
                flex-direction: column;
                margin-right: 24px;
            }
            &--image{
                position: relative; 
                img{
                    height: auto;
                    width: 100%;
                }
            }
            &--info{
                margin-left: 0;
            }
            &--content{
                .icon::before{
                    display: none;
                }
                .heading__four{
                    margin-left: 0;
                }
            }
            &--item:nth-child(2){
                .icon::before{
                    display: none;
                }
                .heading__four{
                    margin-left: 0;
                }
            }
        }
        &__button{
            margin: 1rem -1.6rem 0 0;
            a{
            }
        }
    }
}
@include mq-min(xb){
    .show{
        padding: 8px 47px;
        &__principal{
            &--contain{
                width: 69%;
            }
        }
    }
}